<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>投诉建议</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">投诉建议</div>
</header>

<section class="container">
	<div class="feedback-form">
		<form action="" method="get">
			<h3>请选择反馈问题类型</h3>
			<div class="region-list feedback-type">
				<ul>
					<li>
						<input type="radio">
						<label>产品建议：用的不爽，我有建议</label>
					</li>
					
					<li>
						<input type="radio">
						<label>功能问题：功能故障或不可用</label>
					</li>
					
					<li>
						<input type="radio">
						<label>投诉：有问题来投诉，我们帮您做主</label>
					</li>
					
					<li>
						<input type="radio">
						<label>其他问题</label>
					</li>
				</ul>
			</div>
			<div class="clr"></div>
			
			<div class="textarea-group">
				<textarea placeholder="描述一下您的问题"></textarea>
				
				<div class="textarea-group-tips">
					<span class="fl"><em>*</em>问题反馈最少输入5个字</span>
					
					<span class="fr">0/200</span>
				</div>
			</div>
			<div class="clr"></div>
			
			<div class="upload-photo">
				<h3>请上传相关问题截图</h3>
				<ul>
					<li>
						<div class="upload-photo-box">
							<a href="" class="delete-photo"></a>
							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/sample1.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<a href="" class="delete-photo"></a>
							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/sample2.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<a href="" class="delete-photo"></a>
							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/p3.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<a href="" class="delete-photo"></a>
							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/p1.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<div class="loading-photo">上传中</div>

							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/p1.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<div class="loading-photo">上传中</div>

							<div class="loaded-photo-thumbnail">
								<img src="../../Theme/img/p1.jpg">
							</div>
						</div>
					</li>

					<li>
						<div class="upload-photo-box">
							<div class="add-photo-btn">
								<input type="file" accept="image/*">
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="form-submit">
				<button type="submit" class="form-submit-btn" disabled>提交</button>
			</div>
		</form>
	</div>
</section>
</body>
</html>
