<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>分享好友</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body class="share-bg">
<header class="header share-header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">分享好友</div>
	
	<div class="header-btn">
		<a href="ShareRecord.html">分享记录</a>
	</div>
</header>

<section class="container">
	<div class="share-qrcode">
		<img class="qrcode-img" src="../../Theme/img/QRcode.png">

		<p>扫描二维码即可分享好友呦</p>
	</div>
	
	<div class="share-address">
		<button>复制下载地址</button>
	</div>
</section>
</body>
</html>
