<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>产品管理</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">产品管理</div>
	
	<div class="header-btn">
		<a href="">搜索</a>
	</div>
</header>

<section class="product-container">
	<div class="product">
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-3.jpg">

				<div class="product-info fl">
					<h3>2门柜子卧室木质家具组装整体定制移门大衣橱2门柜子卧室木质家具组装整体定制移门大衣橱</h3>
					<p>¥699.00</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-1.jpg">

				<div class="product-info fl">
					<h3>家用大功率手持迷你静音强力小型地毯除螨吸尘机XC90</h3>
					<p>¥106.99</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-5.jpg">

				<div class="product-info fl">
					<h3>男士短袖t恤夏季冰丝套装男装韩版潮流休闲半袖衣服夏装</h3>
					<p>¥89.00</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-3.jpg">

				<div class="product-info fl">
					<h3>2门柜子卧室木质家具组装整体定制移门大衣橱</h3>
					<p>¥699.00</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-4.jpg">

				<div class="product-info fl">
					<h3>2门柜子卧室木质家具组装整体定制移门大衣橱</h3>
					<p>¥699.00</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="product-box">
			<a href="../Shop/ProductDetails.html">
				<img class="fl" src="../../Theme/img/pic_2-3.jpg">

				<div class="product-info fl">
					<h3>2门柜子卧室木质家具组装整体定制移门大衣橱</h3>
					<p>¥699.00</p>
					<span>库存：100</span>
				</div>
			</a>
			
			<div class="product-edit">
			    <a href="AddProduct.html">编辑</a>
				<span>删除</span>
			</div>
		</div>
		
		<div class="load-more">
			<a href="">点击加载更多</a>
		</div>
	</div>
	
	<div class="add-btn">
		<a href="AddProduct.html">
			<i></i>
			<span>添加产品</span>
		</a>
	</div>
</section>
</body>
</html>
