<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>店铺订单</title>
	
<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/shop.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>	
<header class="header">
	<div class="header-return">
		<a href="javascript:history.go(-1);"></a>
	</div>

	<div class="logo">店铺订单</div>
</header>
	
<section class="container order-container">
	<div class="order-switch-title">
		<ul>
			<li class="active">
				<a href="">全部</a>
			</li>
			<li>
				<a href="">待付款</a>
			</li>
			<li>
				<a href="">待发货</a>
			</li>
			<li>
				<a href="">待收货</a>
			</li>
			<li>
				<a href="">已完成</a>
			</li>
		</ul>
	</div>

	<div class="order-list">
		<div class="order">
			<div class="order-title">
				<span class="order-num fl">201807264534545</span>	            
				<span class="order-status fr">待发货</span>
			</div>	  

			<a href="ShopOrderDetails.html" class="order-info">     
				<div class="order-product">
					<img src="../../Theme/img/pic_2-1.jpg">

					<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×1</p>
					</div>
				</div>

				<div class="order-product">
					<img src="../../Theme/img/pic_2-2.jpg">

					<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×4</p>
					</div>
				</div>
			</a>	
			
			<div class="order-summary">
				<span>实付:</span>
				<b>¥99</b>
				<span>(免运费)</span>
			</div>
			
			<div class="order-toolbar">
				<a href="SettingExpress.html" class="active">设置发货</a>
				<a href="">取消订单</a>	         
			</div>
		</div>

		<div class="order">
			<div class="order-title">
				<span class="order-num fl">201807264534545</span>	            
				<span class="order-status fr">待付款</span>
			</div>	 

			<a href="ShopOrderDetails.html" class="order-info">     
				<div class="order-product">
					<img src="../../Theme/img/p3.jpg">

					<h1>双肩包女韩版学院风新款百搭休闲pu背包书包女学生双肩背包复古</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×1</p>
					</div>
				</div>
			</a>
			
			<div class="order-summary">
				<span>实付:</span>
				<b>¥99</b>
				<span>(免运费)</span>
			</div>	
			
			<div class="order-toolbar">
				<a href="">取消订单</a>
			</div>
		</div>

		<div class="order">
			<div class="order-title">
				<span class="order-num fl">201807264534545</span>	            
				<span class="order-status fr">待发货</span>
			</div>	  

			<a href="ShopOrderDetails.html" class="order-info">     
				<div class="order-product">
					<img src="../../Theme/img/pic_2-3.jpg">

					<h1>韩版百搭小清新包包日韩复古原宿学院风小方包</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×1</p>
					</div>
				</div>

				<div class="order-product">
					<img src="../../Theme/img/p1.jpg">

					<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×4</p>
					</div>
				</div>
			</a>
			
			<div class="order-summary">
				<span>实付:</span>
				<b>¥99</b>
				<span>(免运费)</span>
			</div>
			
			<div class="order-toolbar">
				<a href="SettingExpress.html" class="active">设置发货</a>
				<a href="">取消订单</a>	         
			</div>
		</div>

		<div class="order">
			<div class="order-title">
				<span class="order-num fl">201807264534545</span>	            
				<span class="order-status fr">已完成</span>
			</div>	

			<a href="ShopOrderDetails.html" class="order-info">     
				<div class="order-product">
					<img src="../../Theme/img/p3.jpg">

					<h1>韩版百搭小清新包包日韩复古原宿学院风小方包</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×1</p>
					</div>
				</div>

				<div class="order-product">
					<img src="../../Theme/img/p1.jpg">

					<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×4</p>
					</div>
				</div>
				
				<div class="order-product">
					<img src="../../Theme/img/p1.jpg">

					<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

					<div class="order-price">
						<p class="order-product-price">¥19.90</p>
						<p>×4</p>
					</div>
				</div>
			</a>
			
			<div class="order-summary">
				<span>实付:</span>
				<b>¥99</b>
				<span>(免运费)</span>
			</div>	 
			
			<div class="order-toolbar">
				<a href="">删除订单</a>
			</div>
		</div>

		<div class="load-more">
			<a href="">点击加载更多</a>
		</div>

		<!--<div class="load-no-more">
			<span>没有更多了</span>
		</div>-->
	</div>
</section>		
</body>
</html>
