<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>数字资产</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">数字资产</div>
	
	<div class="header-btn">
		<a href="DigitalAssetsRecord.html">交易记录</a>
	</div>
</header>

<section class="container">
	<div class="digital-balance">
		<div class="digital-balance-current">
			<span>当前价格</span>
			<h3>38.7310</h3>
		</div>
		
		<div class="digital-toolbar">
			<ul>
				<li>
					<a href="DigitalAssetsOut.html" class="digital-toolbar-1">
						<i></i>
						<span>转出</span>
					</a>
				</li>

				<li>
					<a href="../DigitalAssets/CrowdFunding.html" class="digital-toolbar-2">
						<i></i>
						<span>众筹</span>
					</a>
				</li>

				<li>
					<a href="../DigitalAssets/VPayCenter.html" class="digital-toolbar-3">
						<i></i>
						<span>V宝</span>
					</a>
				</li>

				<li>
					<a href="../Trade/TradeByAccount.html" class="digital-toolbar-4">
						<i></i>
						<span>交易</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="digital-address">
		<p>VPay资产<b>0.0000</b></p>

		<!--<p>钱包地址</p>-->

		<div class="digital-address-input">
			<input value="VjhheWy94trreRwrwe3rwwRew43" readonly>
			<button>复制钱包地址</button>
		</div>
	</div>
	
	<div class="digital-ads">
		<a href="../User/Share.html">
			<img src="../../Theme/images/assets/ads.jpg">
		</a>
	</div>
	
	<div class="digital-assets">
		<div class="digital-assets-list">
			<h3 class="digital-coin-1">VPay</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>VPay资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>38.7310</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
		
		<div class="digital-assets-list">
			<h3 class="digital-coin-2">令</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>令资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>10.7810</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
		
		<div class="digital-assets-list">
			<h3 class="digital-coin-3">比特币</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>比特币资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>40214.1467</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
		
		<div class="digital-assets-list">
			<h3 class="digital-coin-4">莱特币</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>莱特币资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>505.9583</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
		
		<div class="digital-assets-list">
			<h3 class="digital-coin-5">以太坊</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>以太坊资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>2857.8183</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
		
		<div class="digital-assets-list">
			<h3 class="digital-coin-6">狗狗币</h3>
			
			<div class="digital-assets-details">
				<div class="digital-assets-account">
					<h5>0.0000</h5>
					<span>狗狗币资产</span>
				</div>
				
				<div class="digital-assets-price">
					<h5>00.0161</h5>
					<span>当前价格</span>
				</div>
				
				<div class="digital-assets-btn">
					<a href="../Trade/TradeByCash.html">现金交易</a>
					<a href="../Trade/TradeByAccount.html">余额交易</a>
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
</section>
</body>
</html>
