<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>积分记录</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">积分记录</div>
</header>

<section class="container">
	<!--<div class="no-content">
		<i></i>
		<p>暂无内容</p>
	</div>-->
	
	<div class="record-list">
	    <div class="record-list-title">
			<span>时间</span>
			<span>项目</span>
			<span>数量</span>
			<span>余额</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-28</span>
			<span>赠送</span>
			<span><b class="record-red">+100.000</b></span>
			<span>10000</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-26</span>
			<span>余额兑换</span>
			<span><b class="record-green">-100.000</b></span>
			<span>9900</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-25</span>
			<span>每日登录</span>
			<span><b class="record-red">+50.000</b></span>
			<span>10000</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-24</span>
			<span>每日登录</span>
			<span><b class="record-red">+50.000</b></span>
			<span>9950</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-26</span>
			<span>余额兑换</span>
			<span><b class="record-green">-100.000</b></span>
			<span>9900</span>
		</div>
		
		<div class="load-more">
			<a href="">点击加载更多</a>
		</div>

		<!--<div class="load-no-more">
			<span>没有更多了</span>
		</div>-->
	</div>
</section>
</body>
</html>
