<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>兑换积分</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">兑换积分</div>
</header>

<section class="container">
	<div class="balance">
		<ul>
			<li>
				<span>余额</span>
				<h3>100</h3>
			</li>

			<li>
				<span>积分</span>
				<h3>888</h3>
			</li>
		</ul>
	</div>
	
	<div class="trade-form">
		<div class="form-widget">
			<form action="" method="get">
				<div class="form-box">
					<div class="form-group">
						<label class="form-label">余额换积分</label>

						<div class="form-control">
							<input placeholder="请输入兑换的余额">
						</div>
					</div>
				</div>
				
				<div class="form-tips">
					提示：最少兑换数量100，请输入100的整数倍。
				</div>

				<div class="form-submit">
					<button type="submit" class="form-submit-btn">确认兑换</button>
				</div>
			</form>
		</div>
	</div>
</section>
</body>
</html>
