<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>转入</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body class="transfer">
<header class="header transfer-header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">转入</div>
	
	<div class="header-btn">
		<a href="TransferInRecord.html">转入记录</a>
	</div>
</header>

<section class="container transfer-container">
	<div class="transfer-box">
		<div class="transfer-code">
			<img src="../../Theme/img/QRcode.png">
		</div>
		
		<div class="transfer-box-bottom">
			<img src="../../Theme/images/QRcode_bg.png">
			
			<p>扫一扫，向我付款</p>
		</div>
	</div>
	
	<div class="transfer-save">
		<button>保存二维码</button>
	</div>
</section>
</body>
</html>
