<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .layui-card-header.layuiadmin-card-header-auto {
            padding-top: 10px;
            padding-bottom: 5px;
            height: auto;
        }

    </style>
</head>
<body>

<div class="layui-fluid" style="float: right;width: 98%;height: 96%;padding-left: 5px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 60px;padding: 9px 15px">设备编号</label>
                    <div class="layui-input-block" style="margin-left:90px">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px;">&nbsp;&nbsp;名称</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">&nbsp;&nbsp;状态</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <select name="roleId">
                            <option value="0">在线</option>
                            <option value="1">离线</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin" style="background-color: #1ab394" lay-submit lay-filter="LAY-user-back-search">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-search layuiadmin-button-btn"
                                style="font-size: 14px;"> 查 询</i></span>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin" style="background-color: #f8ac59" data-type="reload"
                            style="background-color: orangered;">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-refresh layuiadmin-button-btn" style="font-size: 14px;"> 重 置</i></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
        </div>
    </div>
</div>

<script src="../static/libs/sws-common.js"></script>
<script src="../static/libs/layui/layui.js"></script>
<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , table = layui.table

        //方法级渲染
        table.render({
            elem: '#user_table'
            ,text: {
                none: '暂无相关数据' //默认：无数据
            }
            , url: sysUrl + '/role/list'
            , headers: {
                'token': sessionStorage.getItem("token"),
            }
            ,defaultToolbar: [{ //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '新增设备'
                ,color: '#6bd9c2'
                ,text: '新增设备'
                ,layEvent: 'addPumpHouse'
                ,icon: 'layui-icon-add-circle'
            },'filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '刷新'
                ,color: '#23c6c8'
                ,text: '刷新'
                ,layEvent: 'refresh'
                ,icon: 'layui-icon-refresh'
            }]
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'roleId', title: '设备国标编号', width: 180, align: 'center'}
                , {field: 'roleName', title: '名称', width: 150, align: 'center'}
                , {field: 'roleSort', title: '信令传输', width: 120, align: 'center'}
                , {field: 'dataScope', title: '流传输模式', width: 100, align: 'center'}
                , {field: 'delFlag', title: '通道数', width: 100, align: 'center'}
                , {field: 'status', title: '在线状态', width: 120, align: 'center', templet: function (res) {
                        if (res.status == 0) {
                            return '在线';
                        } else if (res.status == 1) {
                            return '离线';
                        } else {
                            return '-';
                        }
                    }}
                , {field: 'roleKey', title: '出口ip', width: 150, align: 'center'}
                , {field: 'roleKey', title: '端口', width: 100, align: 'center'}
                , {field: 'roleKey', title: '厂家', width: 200, align: 'center'}
                , {field: 'roleKey', title: '最近心跳', width: 200, align: 'center'}
                , {field: 'roleKey', title: '最近注册', width: 200, align: 'center'}
                , {field: 'remark', title: '操作', align: 'center'}
            ]]
            , id: 'userTable'
            // , response: {
            //     statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            // }
            , page: true
            , limit: 14
            , limits: [10, 20, 50, 100, 200]
            , height: 'full-115'
        });

        table.on('toolbar(user_table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'deleteDatas':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'addData':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'changeData':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'selectAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'refresh':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: ""
                    }
                }, 'data');
            },
            search: function () {
                var searchReload = $('#nickname');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: searchReload.val()
                    }
                }, 'data');
            }
        };



        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>

