<!DOCTYPE html>
<html xmlns:hidden="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layui-card-header.layuiadmin-card-header-auto {
            padding-top: 10px;
            padding-bottom: 5px;
            height: auto;
        }

        ul.ztree {
            width: 95%;
            height: 100%;
            overflow-y: auto;
            overflow-x: auto;
        }

        .box {
            width: 12%;
            height: 99%;
            border-color: #cccccc;
            margin-top: 1%;
            margin-left: 1%;
            border: 1px solid #cccccc;
            float: left;
            background-color: white;
        }

        .ztree li span.button.pIcon01_ico_open {
            margin-right: 2px;
            background: url(../static/img/gongsi.png) no-repeat scroll 0 0 transparent;
            vertical-align: top;
            *vertical-align: middle
        }

        .ztree li span.button.pIcon01_ico_close {
            margin-right: 2px;
            background: url(../static/img/gongsi.png) no-repeat scroll 0 0 transparent;
            vertical-align: top;
            *vertical-align: middle
        }

        .ztree li span.button.pIcon02_ico_open, .ztree li span.button.pIcon02_ico_close {
            margin-right: 2px;
            background: url(../static/img/House.png) no-repeat scroll 0 0 transparent;
            vertical-align: top;
            *vertical-align: middle
        }

        .ztree li span.button.icon01_ico_docu {
            margin-right: 2px;
            background: url(../static/img/kongzhigui.png) no-repeat scroll 0 0 transparent;
            vertical-align: top;
            *vertical-align: middle
        }

        .layui-table, .layui-table-view {
            margin: 0px 0;
        }

        .myTable button {
            border-width: 0px;
            background-color: white;
        }

        .myTable tbody tr:hover {
            background-color: #f2f2f2;
        }

        .myTable thead tr {
            height: 28px;
        }

        .myTable thead tr th {
            border: solid 1.5px #CCCCCC;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
        }

        .myTable tbody tr td {
            height: 26px;
            font-size: 12px;
            border: solid 1.5px #CCCCCC;
            text-align: center;
        }

    </style>

    <script src="../static/libs/jquery.min.js"></script>
    <script src="../static/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
    <script src="../static/libs/echarts.min.js"></script>
    <script src="../static/libs/sws-common.js"></script>
    <script src="../static/libs/realChart.js"></script>
    <script src="../static/libs/layui/layui.js"></script>
</head>

<body>
<div class="layui-fluid" style="float: left;width: 15%;height: 96%;padding-right: 5px;">
    <div class="layui-card" style="height: 100%">
        <div class="layui-inline" style="width: 100%;">
            <div class="layui-input-block" style="margin-left:10px;margin-top:10px;margin-right: 10px">

                <input type="text" name="search" id="search" placeholder="请输入名称" autocomplete="off" class="layui-input"
                       style="margin-left: 0px;width: 60%;float: left">

                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:15px;margin-top:5px;float: left;background-color: #6bd9c2"
                        lay-menutree="search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:5px;margin-top:5px;float: right;background-color: #23c6c8"
                        lay-menutree="reload">
                    <i class="layui-icon layui-icon-spread-left layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
            </div>
            <hr>
        </div>

        <div id="assMenu" class="demo-tree"></div>
    </div>
</div>
<div class="layui-fluid" style="float: right;width: 82%;height: 96%;padding-left: 5px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px;">登录名</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">手机号</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="telphone" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">&nbsp;&nbsp;项&nbsp;&nbsp;&nbsp;目</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="projectId" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #1ab394" lay-submit lay-filter="LAY-user-back-search">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-search layuiadmin-button-btn"
                                style="font-size: 14px;"> 查 询</i></span>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #f8ac59" data-type="reload"
                            style="background-color: orangered;">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-refresh layuiadmin-button-btn" style="font-size: 14px;"> 重 置</i></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
        </div>
    </div>
</div>

<!--<div class="box">-->
<!--    <div class="layui-form-item">-->
<!--        <div class="layui-inline">-->
<!--            <div class="layui-input-block" style="margin-left:10px">-->
<!--                <input type="text" name="projectId" placeholder="请输入" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-inline">-->
<!--            <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"-->
<!--                    style="background-color: #1ab394" lay-submit lay-filter="LAY-user-back-search">-->
<!--                        <span style="text-align:center;display:block;"><i-->
<!--                                class="layui-icon layui-icon-search layuiadmin-button-btn"-->
<!--                                style="font-size: 14px;"> 查 询</i></span>                        <button type="button" class="layui-btn layui-btn-sm" lay-menutree="reload">重置</button>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="layui-input-block">-->
<!--            <div id="assMenu" class="demo-tree"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div style="float: right;background-color:white;margin-right:1%;margin-top:1%;border:1px solid #cccccc;border-color: #cccccc;width: 85%;height: 99%;">-->
<!--    <div class="layui-tab layui-tab-card" lay-filter="real" style="margin-top:0px;width: 100%;height: 100%;">-->
<!--        <ul class="layui-tab-title">-->
<!--            <li class="layui-this" style="width: 14%">实时状态</li>-->
<!--            <li style="width: 14%">统计数据</li>-->
<!--            <li style="width: 14%">远程设置</li>-->
<!--            <li style="width: 14%">历史数据</li>-->
<!--            <li style="width: 14%">异常信息<span class="layui-badge-dot"></span></li>-->
<!--        </ul>-->
<!--        <div class="layui-tab-content" style="height: 100%;">-->
<!--            <div class="layui-tab-item layui-show" style="height: 100%;width: 100%;">-->
<!--                <div style="width: 48%;height:90%;float: left;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;overflow-y:auto;">-->
<!--                    <table class="myTable" style="width: 100%">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th width="8%">编号</th>-->
<!--                            <th width="15%">数据项</th>-->
<!--                            <th width="10%">数值</th>-->
<!--                            <th width="12%">单位</th>-->
<!--                            <th width="20%">上传时间</th>-->
<!--                            <th width="15%">报警数值</th>-->
<!--                            <th width="25%">报警设置</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="realTbody">-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div id="realChart"-->
<!--                     style="width: 50%;height:41%;float: right;position: relative;margin-right: 12px;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;">-->
<!--                </div>-->
<!--                <div style="width: 50%;height:2%;float: right;position: relative;">-->
<!--                </div>-->
<!--                <div style="width: 50%;height:46%;float: right;position: relative;margin-right: 12px;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;">-->
<!--                    <div id="historyClass" style="display:none;" ;>-->
<!--                        <div class="layui-inline" style="margin-left: 1%">-->
<!--                            <label class="layui-form-label">请选择时间</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <input type="text" class="layui-input" id="dateQuery" style="width: 200%;">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="historyChart" style="height:90%;">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-tab-item" style="height: 100%;width: 100%;">-->
<!--                <div style="width: 30%;height:90%;float: left;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;overflow-y:auto;">-->
<!--                    <table class="myTable" style="width: 100%">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th width="10%">编号</th>-->
<!--                            <th width="50%">数据项</th>-->
<!--                            <th width="20%">数值</th>-->
<!--                            <th width="20%">单位</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="statisTbody">-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div style="width: 68%;height:90%;float: right;position: relative;margin-right: 12px;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;">-->
<!--                    <div id="asChart"-->
<!--                         style="float: right;background-color:white;margin:1%;border-color: #cccccc;width: 97%;height: 96%;">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-tab-item" style="height: 100%;width: 100%;">-->
<!--                <div style="width: 100%;height:90%;float: left;border: solid 1px #cccccc;box-shadow:1px 2px 3px #3B2E32;overflow-y:auto;">-->
<!--                    <table class="myTable" style="width: 100%">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th width="5%">编号</th>-->
<!--                            <th width="10%">数据项</th>-->
<!--                            <th width="10%">数值</th>-->
<!--                            <th width="10%">单位</th>-->
<!--                            <th width="12%">数据接收时间</th>-->
<!--                            <th width="10%">参数设置</th>-->
<!--                            <th width="43%">参数介绍</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="setTbody">-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-tab-item">设备组态</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script>
    $(function () {

        assignmentsMenu();

        function assignmentsMenu() {
            var res = [];
            $.ajax({
                type: "GET",
                url: sysUrl + "/pct/gpt",
                async: false,
                headers: {
                    'token': sessionStorage.getItem("token"),
                },
                success: function (r) {
                    var children = [];
                    for (var i = 0; i < r.data.length; i++) {
                        var project = new Object();
                        project.title = r.data[i].projectName;
                        project.id = r.data[i].projectId;
                        project.icon = "fa fa-bar-chart-o";
                        children = pumpHouseArrayToJson(r.data[i].projectId)
                        if (children.length != 0) {
                            project.children = children
                        }
                        res.push(project)
                    }
                }
            })
            layui.use(['table', 'tree', 'util'], function () {
                var $ = layui.$
                    , tree = layui.tree
                    , util = layui.util
                //基本演示
                tree.render({
                    elem: '#assMenu'
                    , data: res
                    , id: 'assMenu'
                    , isJump: true //是否允许点击节点时弹出新窗口跳转
                    , click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                });

                //按钮事件
                util.event('lay-menutree', {
                    search: function (othis) {
                        var search = $("#search").val()
                        console.info(res)
                        for (var i=0;i<res.length;i++){
                            if (res[i].title.indexOf(search)){
                                res[i].checked = true;
                            }
                            var res1 = res[i].children;
                            for (var i1=0;i1<res1.length;i1++) {
                                if (res1[i1].title.indexOf(search)){
                                    res1[i1].checked = true;
                                }
                            }
                        }
                    },
                    reload: function () {
                        tree.reload('assMenu', {});
                    }
                });
            });

        }

        function pumpHouseArrayToJson(projectId) {
            var res = [];
            $.ajax({
                type: "GET",
                url: pumpHouseUrl + "/pmp/qpbp/" + projectId,
                async: false,
                headers: {
                    'token': sessionStorage.getItem("token"),
                },
                success: function (r) {
                    var children = [];
                    for (var i = 0; i < r.data.length; i++) {
                        var pumphouse = new Object();
                        pumphouse.title = r.data[i].pumphouseName;
                        pumphouse.id = r.data[i].pumphouseId;
                        pumphouse.icon = "fa fa-home fa-lg";
                        children = deviceArrayToJson(r.data[i].pumphouseId)
                        if (children.length != 0) {
                            pumphouse.children = children
                        }
                        res.push(pumphouse)
                    }
                }
            });
            return res;
        }


        function deviceArrayToJson(pumphouseId) {
            var res = [];
            $.ajax({
                type: "GET",
                url: deviceUrl + "/dce/qdbd/" + pumphouseId,
                async: false,
                headers: {
                    'token': sessionStorage.getItem("token"),
                },
                success: function (r) {
                    for (var i = 0; i < r.data.length; i++) {
                        var pumphouse = new Object();
                        pumphouse.title = r.data[i].name;
                        pumphouse.id = r.data[i].deviceId;
                        pumphouse.bgcolor = "green";
                        pumphouse.icon = "fa fa-signal";
                        res.push(pumphouse)
                    }
                }
            });
            return res;
        }
    });

    //
    //
    // //点击事件 进入表格
    // function beforeClick(treeId, treeNode) {
    //     ptreeId = treeId;
    //     ptreeNode = treeNode;
    //     clearInterval(tableRefresh);
    //     clearInterval(inter1);
    //
    //     if (!treeNode.isParent) {
    //         // $("#historyChart").children().remove();
    //         // $("#realChart").children().remove();
    //         // if (oldTopic != '') {
    //         //     client.unsubscribe('Topic/flexem/fbox/' + oldTopic + '/system/MonitorData');
    //         //     client.unsubscribe('Topic/flexem/fbox/' + oldTopic + '/system/MDataPubNow');
    //         // }
    //         // client.subscribe('Topic/flexem/fbox/' + treeNode.id + '/system/MDataPubNow');
    //         // client.subscribe('Topic/flexem/fbox/' + treeNode.id + '/system/MonitorData');
    //         // oldTopic = treeNode.id;
    //         addTable(treeId, treeNode);
    //         return false;
    //     } else {
    //         return true;
    //     }
    // }
    //
    // var log, className = "dark";
    //
    // function beforeAsync(treeId, treeNode) {
    //     className = (className === "dark" ? "" : "dark");
    //     showLog("[ " + getTime() + " beforeAsync ]&nbsp;&nbsp;&nbsp;&nbsp;" + ((!!treeNode && !!treeNode.name) ? treeNode.name : "root"));
    //     return true;
    // }
    //
    // function onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
    //     showLog("[ " + getTime() + " onAsyncError ]&nbsp;&nbsp;&nbsp;&nbsp;" + ((!!treeNode && !!treeNode.name) ? treeNode.name : "root"));
    // }
    //
    // function onAsyncSuccess(event, treeId, treeNode, msg) {
    //     showLog("[ " + getTime() + " onAsyncSuccess ]&nbsp;&nbsp;&nbsp;&nbsp;" + ((!!treeNode && !!treeNode.name) ? treeNode.name : "root"));
    // }
    //
    // function statisData() {
    //     $.ajax({
    //             url: "http://39.96.74.32:14029/deviceUnit/getDeviceStatisParm?deviceId=" + ptreeNode.id,
    //             type: "GET",
    //             dataType: 'json',
    //             success: function (data) {
    //                 var html = "";
    //                 for (var a = 0; a < data.count; a++) {
    //
    //                     html += '<tr onclick=""><td>' + (a + 1)
    //                         + '</td><td>' + data.data[a].name
    //                         + '</td><td id=s"' + data.data[a].dataName + '">' + '-'
    //                         + ' </td><td>' + data.data[a].unit
    //                         + '</td></tr>'
    //                 }
    //                 $("#statisTbody").html(html)
    //
    //                 getDeviceData2(ptreeNode, data);
    //
    //             }
    //         }
    //     );
    // }
    //
    // function setData() {
    //     $.ajax({
    //             url: "http://39.96.74.32:14029/deviceUnit/getDeviceSetParm?deviceId=" + ptreeNode.id,
    //             type: "GET",
    //             dataType: 'json',
    //             success: function (data) {
    //                 var html = "";
    //                 for (var a = 0; a < data.count; a++) {
    //                     var warnbutton = "";
    //                     if (data.data[a].isSetData == 1 && data.data[a].isSetData == "1") {
    //                         warnbutton = "<button onclick='addzz()' style='height: 22px;line-height: 22px;padding: 0 5px;font-size: 12px;display: inline-block;background-color: #009688;color: #fff;white-space: nowrap;text-align: center;border: none; border-radius: 2px;cursor: pointer;'>设置参数</button>"
    //                     }
    //
    //                     html += '<tr onclick=""><td>' + (a + 1)
    //                         + '</td><td>' + data.data[a].name
    //                         + '</td><td id="' + data.data[a].dataName + '">' + '-'
    //                         + ' </td><td>' + data.data[a].unit
    //                         + '</td><td  id="time' + a + '">' + '-'
    //                         + '</td><td>' + warnbutton
    //                         + '</td><td>' + data.data[a].remake
    //                         + '</td></tr>'
    //                 }
    //                 $("#setTbody").html(html)
    //
    //                 getDeviceData3(ptreeNode, data);
    //
    //             }
    //         }
    //     );
    // }
    //
    //
    // function refreshNode(e) {
    //     var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
    //         type = e.data.type,
    //         silent = e.data.silent,
    //         nodes = zTree.getSelectedNodes();
    //     if (nodes.length == 0) {
    //         alert("请先选择一个父节点");
    //     }
    //     for (var i = 0, l = nodes.length; i < l; i++) {
    //         zTree.reAsyncChildNodes(nodes[i], type, silent);
    //         if (!silent) zTree.selectNode(nodes[i]);
    //     }
    // }
    //
    // $(document).ready(function () {
    //     $.fn.zTree.init($("#treeDemo"), setting);
    //     $("#refreshNode").bind("click", {type: "refresh", silent: false}, refreshNode);
    //     $("#refreshNodeSilent").bind("click", {type: "refresh", silent: true}, refreshNode);
    //     $("#addNode").bind("click", {type: "add", silent: false}, refreshNode);
    //     $("#addNodeSilent").bind("click", {type: "add", silent: true}, refreshNode);
    // });
    //
    // layui.use(['element', 'laydate'], function () {
    //     var $ = layui.jquery
    //         , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    //     var laydate = layui.laydate;
    //
    //     laydate.render({
    //         elem: '#dateQuery'
    //         , format: 'yyyy年MM月dd日'
    //     });
    //     //一些事件监听
    //     element.on('tab(real)', function (data) {
    //         if (data.index == 0) {
    //             // task(ptreeId, ptreeNode);
    //             var historyChart = echarts.init(document.getElementById('historyChart'));
    //             historyChart.clear();
    //             var realChart = echarts.init(document.getElementById('realChart'));
    //             realChart.clear();
    //         } else {
    //             clearInterval(tableRefresh);
    //             clearInterval(inter1);
    //         }
    //         if (data.index == 1) {
    //             statisData();
    //         }
    //         if (data.index == 2) {
    //             setData();
    //         }
    //     });
    // });
</script>
</body>
</html>