<!DOCTYPE html>
<html xmlns:hidden="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layui-table[lay-skin="row"] tr th {
            border-width: 0px 0px 0px 0px;
            border-top-width: 0px;
            border-left-width: 0px;
            border-top-width: 0px;
            border-left-width: 0px;
        }

        .layui-table-body {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .layui-table-tool {
            min-height: 10px;
            line-height: 10px;
            border-width: 0 0 0px;
        }

        .layui-table-tool-self > .layui-btn-sm {
            padding: 0 5px;
        }

    </style>

</head>

<body>
<div class="layui-fluid" style="float: left;width: 15%;height: 96%;padding-right: 5px;">
    <div class="layui-card" style="height: 100%">
        <div class="layui-inline" style="width: 100%;">
            <div class="layui-input-block" style="margin-left:10px;margin-top:10px;margin-right: 10px">

                <input type="text" name="search" id="search" placeholder="请输入名称" autocomplete="off" class="layui-input"
                       style="margin-left: 0px;width: 60%;float: left">

                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:15px;margin-top:5px;float: left;background-color: #6bd9c2"
                        lay-menutree="search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:5px;margin-top:5px;float: right;background-color: #23c6c8"
                        lay-menutree="reload">
                    <i class="layui-icon layui-icon-spread-left layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
            </div>
            <hr>
        </div>

        <div id="assMenu" class="demo-tree" style="margin-left: 5px"></div>
    </div>
</div>
<div class="layui-fluid" style="float: right;width: 82%;height: 96%;padding-left: 5px;">

    <div class="layui-tab layui-tab-card" lay-filter="real-tab" style="height: 92%;padding:0px;margin: 0%">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="real-data" style="width: 22%">实时数据</li>
            <li lay-id="real-alarm" style="width: 23%">报警记录</li>
            <li lay-id="send-param" style="width: 23%">远程下参</li>
            <li lay-id="real-analysis" style="width: 23.9%">实时分析</li>
        </ul>
        <div class="layui-tab-content" style="height: 100%;background-color: white">
            <div class="layui-tab-item layui-show" style="height: 99%">
                <blockquote id="layuiTips" class="layui-elem-quote">&nbsp;&nbsp;请在右侧菜单中选择需要查看的设备信息<i
                        class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="float: left"></i></blockquote>
                <div class="layui-card-body" id="tt" style="width: 50%;height: 95%;padding: 0px 15px;float: left;">

                    <table class="layui-table" id="demo1">

                    </table>
                </div>
                <!--    实时曲线   -->
                <div class="layui-card-body" id="chart-1"
                     style="width: 45%;height: 45%;padding: 0px 15px;float: right;margin-top: 1%">
                    <blockquote id="layuiTips2" class="layui-elem-quote" style="display:none;">&nbsp;&nbsp;请点击右侧查看参数的曲线信息<i
                            class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="float: left"></i></blockquote>
                </div>
                <div class="layui-card-body" id="chart-2"
                     style="width: 45%;height: 45%;padding: 0px 15px;float: right;margin-top: 2%">


                </div>
            </div>
            <div class="layui-tab-item">
                    <blockquote id="layuiTips3" class="layui-elem-quote">&nbsp;&nbsp;请在右侧菜单中选择需要查看的设备信息<i
                            class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="float: left"></i></blockquote>
                <div class="layui-card-body" id="tt2" style="width: 98%;height: 95%;padding: 0px 15px;float: left;">
                <table class="layui-table" id="demo2">

                </table>
            </div></div>
            <div class="layui-tab-item">3</div>
            <div class="layui-tab-item">4</div>
        </div>
        <!--</div>-->
    </div>

</div>
<script src="../static/libs/jquery.min.js"></script>
<script src="../static/libs/echarts.min.js"></script>
<script src="../static/libs/sws-common.js"></script>
<script src="../static/libs/layui/layui.js"></script>
<script src="../static/libs/mqtt.js" type="text/javascript"></script>
<script src="../static/libs/sws-mqtt.js"></script>

<script>
    var iotCode = "";
    var timeData = [];
    var chartData = [];
    var mqttChartData = {};
    var todayTimeData = [];
    var todayChartData = [];
    var h = $("#tt").height()
    layui.use(['table', 'tree', 'util', 'element', 'laydate'], function () {
        var $ = layui.$
            , tree = layui.tree
            , table = layui.table
            , util = layui.util
            , element = layui.element
            , laydate = layui.laydate;

        window.assignmentsMenu = function () {

            //查询 开始时间
            laydate.render({
                elem: '#starTime'
                , type: 'datetime'
                , max: format(new Date().getTime())
                , theme: 'grid'
            });

            //查询 结束时间
            laydate.render({
                elem: '#endTime'
                , type: 'datetime'
                , max: format(new Date().getTime())
                , theme: 'grid'
            });

            $('.site-demo-active').on('click', function () {
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });


            function realDataInit(deviceId) {
                var title1 = ""
                var title2 = ""
                var deviceTypeId = "";
                $.ajax({
                    type: "GET",
                    url: deviceUrl + "/dl/qbd/" + deviceId,
                    async: false,
                    headers: {
                        'token': sessionStorage.getItem("token"),
                    },
                    success: function (r) {
                        deviceTypeId = r.data.deviceTypeId
                        if (!iotCode == "") {
                            Client.unsubscribe('Topic/flexem/fbox/' + iotCode + '/system/MonitorData');
                        }
                        iotCode = r.data.iotcode
                        Client.subscribe('Topic/flexem/fbox/' + iotCode + '/system/MonitorData');
                    },
                    error: function (e, t) {
                        if (e.status == 401) {
                            layer.msg("请刷新或重新登录", {icon: 0})
                            return;
                        }
                        i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
                    }
                })

                $.ajax({
                    type: "GET",
                    url: deviceTypeUrl + "/dt/qbdd/" + deviceTypeId,
                    async: false,
                    headers: {
                        'token': sessionStorage.getItem("token"),
                    },
                    success: function (r) {
                        title1 = r.data.name
                        $.ajax({
                            type: "GET",
                            url: deviceTypeUrl + "/dt/qbdpd/" + r.data.parentId,
                            async: false,
                            headers: {
                                'token': sessionStorage.getItem("token"),
                            },
                            success: function (r) {
                                title2 = "(" + r.data.name + ")"
                            },
                            error: function (e, t) {
                                if (e.status == 401) {
                                    layer.msg("请刷新或重新登录", {icon: 0})
                                    return;
                                }
                            }
                        })
                    },
                    error: function (e, t) {
                        if (e.status == 401) {
                            layer.msg("请刷新或重新登录", {icon: 0})
                            return;
                        }
                    }
                })

                //展示已知数据
                table.render({
                    elem: '#demo1'
                    , url: deviceUnitUrl + "/du/qbdtd/" + deviceTypeId
                    , height: h
                    , toolType: "1"
                    , headers: {
                        'token': sessionStorage.getItem("token"),
                    }
                    , toolbar: true //开启头部工具栏，并为其绑定左侧模板
                    , defaultToolbar: ["filter", "exports", "print", { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                        title: "设备号：" + iotCode
                        , color: '#f2f2f2'
                        , text: ''
                        , iconColor: "#666"
                        , icon: 'layui-icon-tips'
                    }]
                    , cols: [[{title: title1 + title2, align: "center", colspan: "7"}], [ //标题栏
                        {field: 'sortId', title: '排序', align: "center", width: 50}
                        , {field: 'name', align: "center", title: '参数', width: 130}
                        , {field: 'referenceRange', align: "center", title: '参考值范围', minWidth: 100}
                        , {
                            field: 'value', align: "center", title: '数值', width: 80
                            , templet: function (res) {
                                return '<span id="value-' + res.dataName + '"></span>';
                            }
                        }
                        , {field: 'unit', align: "center", title: '单位', minWidth: 50}
                        , {
                            field: 'time', align: "center", title: '上报时间', width: 150, templet: function (res) {
                                return '<span id="time-' + res.dataName + '"></span>';
                            }
                        }
                        , {field: 'remark', align: "center", title: '备注', width: 100}
                    ]]
                    , skin: 'row' //表格风格
                    , response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    }
                    , size: "sm"
                    , done: function () {
                        //第一次表格数据初始化
                        $.ajax({
                            url: deviceDataUrl + "/dd/qa/" + iotCode + "/1",
                            type: "GET",
                            dataType: 'json',
                            async: false,
                            headers: {
                                'token': sessionStorage.getItem("token"),
                            },
                            success: function (r) {
                                for (var key in r.data[0]) {
                                    if (r.data[0].hasOwnProperty(key)) {
                                        $("#value-" + key).text(r.data[0][key])
                                        $("#time-" + key).text(r.data[0].time)
                                        var tr = $("#value-" + key).parent().parent().parent();
                                        tr.attr("onclick", "chartView('" + key + "','" + tr.children("[data-field='name']").children("div").text() + "','" + tr.children("[data-field='unit']").children("div").text() + "')")
                                    }
                                }
                            }
                        })
                    }
                });

                table.render({
                    elem: '#demo2'
                    , url: deviceUnitUrl + "/du/qbdtd/" + deviceTypeId
                    , height: h
                    , toolType: "1"
                    , headers: {
                        'token': sessionStorage.getItem("token"),
                    }
                    , toolbar: true //开启头部工具栏，并为其绑定左侧模板
                    , defaultToolbar: ["filter", "exports", "print", { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                        title: "设备号：" + iotCode
                        , color: '#f2f2f2'
                        , text: ''
                        , iconColor: "#666"
                        , icon: 'layui-icon-tips'
                    }]
                    , cols: [[{title: "报警记录", align: "center", colspan: "7"}], [ //标题栏
                        {field: 'sortId', title: '排序', align: "center", width: 50}
                        , {field: 'name', align: "center", title: '参数', width: 130}
                        , {field: 'referenceRange', align: "center", title: '参考值范围', minWidth: 100}
                        , {
                            field: 'value', align: "center", title: '数值', width: 80
                            , templet: function (res) {
                                return '<span id="value-' + res.dataName + '"></span>';
                            }
                        }
                        , {field: 'unit', align: "center", title: '单位', minWidth: 50}
                        , {
                            field: 'time', align: "center", title: '上报时间', width: 150, templet: function (res) {
                                return '<span id="time-' + res.dataName + '"></span>';
                            }
                        }
                        , {field: 'remark', align: "center", title: '备注', width: 100}
                    ]]
                    , skin: 'line' //表格风格
                    , response: {
                        statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                    }
                    , done: function () {
                        //第一次表格数据初始化
                        $.ajax({
                            url: deviceDataUrl + "/dd/qa/" + iotCode + "/1",
                            type: "GET",
                            dataType: 'json',
                            async: false,
                            headers: {
                                'token': sessionStorage.getItem("token"),
                            },
                            success: function (r) {
                                for (var key in r.data[0]) {
                                    if (r.data[0].hasOwnProperty(key)) {
                                        $("#value-" + key).text(r.data[0][key])
                                        $("#time-" + key).text(r.data[0].time)
                                        var tr = $("#value-" + key).parent().parent().parent();
                                        tr.attr("onclick", "chartView('" + key + "','" + tr.children("[data-field='name']").children("div").text() + "','" + tr.children("[data-field='unit']").children("div").text() + "')")
                                    }
                                }
                            }
                        })
                    }
                });
            }

            //基本演示
            tree.render({
                elem: '#assMenu'
                , data: projectArrayToJson("")
                , id: 'assMenu'
                , isJump: false //是否允许点击节点时弹出新窗口跳转
                , click: function (obj) {
                    var data = obj.data;  //获取当前点击的节点数据
                    if (data.isDevice != undefined && data.isDevice == true) {
                        $("#layuiTips").hide()
                        $("#layuiTips3").hide()
                        $("#layuiTips2").show()
                        realDataInit(data.id);
                    }
                }
            });

            //按钮事件
            util.event('lay-menutree', {
                search: function (othis) {
                    var search = $("#search").val()
                    layer.load(2);
                    tree.render({
                        elem: '#assMenu'
                        , data: projectArrayToJson(search)
                        , id: 'assMenu'
                        , isJump: false //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.isDevice != undefined && data.isDevice == true) {
                                $("#layuiTips").hide()
                                $("#layuiTips3").hide()
                                $("#layuiTips2").show()
                                realDataInit(data.id);
                                // element.tabChange('real-tab', 'real-data'); //切换到：用户管理
                            }
                        }
                    });
                    layer.closeAll('loading');
                },
                reload: function () {
                    layer.load(2);
                    $("#search").val("");
                    tree.render({
                        elem: '#assMenu'
                        , data: projectArrayToJson("")
                        , id: 'assMenu'
                        , isJump: false //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.isDevice != undefined && data.isDevice == true) {
                                $("#layuiTips").hide()
                                $("#layuiTips3").hide()
                                $("#layuiTips2").show()
                                realDataInit(data.id);
                                // element.tabChange('real-tab', 'real-data'); //切换到：用户管理
                            }
                        }
                    });
                    layer.closeAll('loading');
                }
            });
        }

        var mqttMessage = {}
        Client = new Paho.MQTT.Client('39.107.221.228', 8083, "USER" + new Date().getTime());
        //建立客户端实例
        var options = {
            timeout: 5,
            keepAliveInterval: 60,
            cleanSession: true,
            useSSL: false,
            userName: user.loginName,
            password: user.password,
            onSuccess: function (e) {
            },
            onFailure: function (e) {
            }
        };

        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log("onConnectionLost:" + responseObject.errorMessage);
                console.log("连接已断开");
            }
        }

        function onMessageArrived(message) {
            realChartInit(message.payloadString)//渲染图表
        }

        Client.connect(options);

        Client.onConnectionLost = onConnectionLost;
        Client.onMessageArrived = onMessageArrived;

        function realChartInit(message) {
            mqttMessage = JSON.parse(message);
            for (var i = 0; i < mqttMessage.Data.length; i++) {
                $("#value-" + mqttMessage.Data[i].name).text(mqttMessage.Data[i].value / move[mqttMessage.Data[i].name])
                $("#time-" + mqttMessage.Data[i].name).text(mqttMessage.time)
                var tr = $("#value-" + mqttMessage.Data[i].name).parent().parent().parent();
                tr.attr("onclick", "chartView('" + mqttMessage.Data[i].name + "','" + tr.children("[data-field='name']").children("div").text() + "','" + tr.children("[data-field='unit']").children("div").text() + "')")
                mqttChartData[mqttMessage.Data[i].name] = (mqttMessage.Data[i].value / move[mqttMessage.Data[i].name])
            }
            mqttChartData.time = (mqttMessage.time);
        }

        var move = {};

        $.ajax({
            type: "GET",
            url: deviceUnitUrl + "/du/qa/",
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                for (var i = 0; i < r.data.length; i++) {
                    move[r.data[i].dataName] = Math.pow(10, Number(r.data[i].move))
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
            }
        })

        assignmentsMenu();
    });


    function projectArrayToJson(search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: sysUrl + "/pct/gpt",
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                var children = [];
                for (var i = 0; i < r.data.length; i++) {
                    var project = new Object();
                    project.title = r.data[i].projectName;
                    project.id = r.data[i].projectId;
                    project.icon = "fa fa-bar-chart-o";
                    project.spread = true;
                    children = pumpHouseArrayToJson(r.data[i].projectId, search)
                    if (children.length != 0) {
                        project.children = children
                    }
                    if (search != "" && r.data[i].projectName.indexOf(search) != -1) {
                        project.textcolor = "red";
                    }
                    res.push(project)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        })
        return res
    }

    function pumpHouseArrayToJson(projectId, search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: pumpHouseUrl + "/pmp/qpbp/" + projectId,
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                var children = [];
                for (var i = 0; i < r.data.length; i++) {
                    var pumphouse = new Object();
                    pumphouse.title = r.data[i].pumphouseName;
                    pumphouse.id = r.data[i].pumphouseId;
                    pumphouse.icon = "fa fa-home fa-lg";
                    pumphouse.spread = true;
                    children = deviceArrayToJson(r.data[i].pumphouseId, search)
                    if (children.length != 0) {
                        pumphouse.children = children
                    }
                    if (search != "" && r.data[i].pumphouseName.indexOf(search) != -1) {
                        pumphouse.textcolor = "red";
                    }
                    res.push(pumphouse)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        });
        return res;
    }

    function deviceArrayToJson(pumphouseId, search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: deviceUrl + "/dce/qdbd/" + pumphouseId,
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                for (var i = 0; i < r.data.length; i++) {
                    var device = new Object();
                    device.title = r.data[i].name;
                    device.id = r.data[i].deviceId;
                    device.bgcolor = "green";
                    device.icon = "fa fa-signal";
                    device.spread = true;
                    device.isDevice = true;
                    if (search != "" && r.data[i].name.indexOf(search) != -1) {
                        device.textcolor = "red";
                    }
                    res.push(device)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        });
        return res;
    }

    //表格刷新定时任务
    var inter1

    function chartView(dataName, name, unit) {
        var realChart = echarts.init(document.getElementById('chart-1'));
        var realChart2 = echarts.init(document.getElementById('chart-2'));
        timeData = [];
        chartData = [];
        $.ajax({
            url: deviceDataUrl + "/dd/qbdn/" + iotCode + "/" + dataName + "/180",
            type: "GET",
            dataType: 'json',
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                for (var a = 0; a < r.data.length; a++) {
                    var timer = formatNoYear(r.data[a].time);
                    timeData.push(timer);
                    chartData.push(r.data[a][dataName]);
                }
                timeData.reverse();
                chartData.reverse();
            }
        })

        todayTimeData = [];
        todayChartData = [];
        $.ajax({
            url: deviceDataUrl + "/dd/qbdn/" + iotCode + "/" + dataName + "/1080",
            type: "GET",
            dataType: 'json',
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                for (var a = 0; a < r.data.length; a++) {
                    var timer = formatNoYear(r.data[a].time);
                    todayTimeData.push(timer);
                    todayChartData.push(r.data[a][dataName]);
                }
                todayTimeData.reverse();
                todayChartData.reverse();
            }
        })

        var optionRealChart = {
            title: {
                text: name + '半小时动态曲线',
                textStyle: {
                    fontSize: 14,
                    fontWeight: 'lighter',
                },
            },
            grid: {
                left: '0%',
                right: '0%',
                bottom: '0%',
                containLabel: true,
                transitionDuration: 0,
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }

            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: timeData,
                nameTextStyle: {color: '#5b6be8'},
                boundaryGap: false,
                minorTick: {
                    show: true,
                    splitNumber: 1,
                },
                axisLine: {
                    lineStyle: {
                        color: '#666',
                        width: 1
                    },
                },
                axisLabel: {
                    textStyle: {
                        color: '#666'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#eaeaea'
                    }
                },
                minorSplitLine: {
                    show: true,
                    lineStyle: {
                        color: '#ddd'
                    }
                }

            },
            yAxis: {
                type: 'value',
                scale: true,
                showSymbol: true,
                nameTextStyle: {color: '#5b6be8'},
                axisLabel: {
                    formatter: '{value}' + unit,
                    textStyle: {
                        color: '#666'
                    }

                },
                axisLine: {
                    lineStyle: {
                        color: '#666',
                        width: 1
                    },
                },
                axisPointer: {
                    snap: true
                },
                minorTick: {
                    show: true,
                    splitNumber: 1,
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#eaeaea'
                    }
                },
                minorSplitLine: {
                    show: true,
                    lineStyle: {
                        color: '#ddd'
                    }
                }
            },
            series: [{
                name: name,
                smooth: true,
                type: 'line',
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                showSymbol: true,
                hoverAnimation: true,
                data: chartData,
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                width: 1//设置线条粗细
                            }
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#6cb041',
                        lineStyle: {
                            width: 1//设置线条粗细
                        }
                    }
                }
            }]
        }
        var optionTodayChart = {
            title: {
                text: name + '三小时累加曲线',
                textStyle: {
                    fontSize: 14,
                    fontWeight: 'lighter',
                },
            },
            grid: {
                left: '0%',
                right: '0%',
                bottom: '0%',
                containLabel: true,
                transitionDuration: 0,
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }

            },

            toolbox: {
                show: true,
                feature: {
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: todayTimeData,
                nameTextStyle: {color: '#5b6be8'},
                boundaryGap: false,
                minorTick: {
                    show: true,
                    splitNumber: 1,
                },
                axisLine: {
                    lineStyle: {
                        color: '#666',
                    },
                },
                axisLabel: {
                    textStyle: {
                        color: '#666'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#eaeaea'
                    }
                },
                minorSplitLine: {
                    show: true,
                    lineStyle: {
                        color: '#ddd'
                    }
                }

            },
            yAxis: {
                type: 'value',
                scale: true,
                showSymbol: true,
                nameTextStyle: {color: '#5b6be8'},
                axisLabel: {
                    formatter: '{value}' + unit,
                    textStyle: {
                        color: '#666'
                    }

                },
                axisLine: {
                    lineStyle: {
                        color: '#666',
                        width: 1
                    },
                },
                axisPointer: {
                    snap: true
                },
                minorTick: {
                    show: true,
                    splitNumber: 1,
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: '#eaeaea'
                    }
                },
                minorSplitLine: {
                    show: true,
                    lineStyle: {
                        color: '#ddd'
                    }
                }
            },
            series: [{
                name: name,
                smooth: true,
                type: 'line',
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                showSymbol: true,
                data: todayChartData,
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                width: 1//设置线条粗细
                            }
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#4ea6f3',
                        lineStyle: {
                            width: 1//设置线条粗细
                        }
                    }
                }
            }]
        }
        realChart.setOption(optionRealChart);
        realChart2.setOption(optionTodayChart);
        clearInterval(inter1);
        inter1 = setInterval(function () {
            if (mqttChartData[dataName] != null && mqttChartData.time != null) {
                timeData.shift();
                timeData.push(formatNoYear(mqttChartData.time));
                chartData.shift();
                chartData.push(mqttChartData[dataName])

                todayTimeData.push(formatNoYear(mqttChartData.time));
                todayChartData.push(mqttChartData[dataName])
                mqttChartData.time = null;
                mqttChartData[dataName] = null;
            }
            realChart.setOption(optionRealChart);
            realChart2.setOption(optionTodayChart);
        }, 10000);

    }


</script>
</body>
</html>