<!DOCTYPE html>
<html xmlns:hidden="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../static/css/style.css" media="all">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layui-table[lay-skin="row"] tr th {
            border-width: 0px 0px 0px 0px;
            border-top-width: 0px;
            border-left-width: 0px;
            border-top-width: 0px;
            border-left-width: 0px;
        }

        .pull-right {
            float: right !important;
        }

        .ibox-title {
            min-height: 10px;
            padding: 10px 10px 10px;
        }

        .ibox-content {

            padding: 15px 20px 10px 20px;
        }

        .layui-table-body {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .layui-table-tool {
            min-height: 10px;
            line-height: 10px;
            border-width: 0 0 0px;
        }

        .layui-table-tool-self > .layui-btn-sm {
            padding: 0 5px;
        }

    </style>

</head>

<body>
<div class="layui-fluid" style="float: left;width: 15%;height: 96%;padding-right: 5px;">
    <div class="layui-card" style="height: 100%">
        <div class="layui-inline" style="width: 100%;">
            <div class="layui-input-block" style="margin-left:10px;margin-top:10px;margin-right: 10px">

                <input type="text" name="search" id="search" placeholder="请输入名称" autocomplete="off" class="layui-input"
                       style="margin-left: 0px;width: 60%;float: left">

                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:15px;margin-top:5px;float: left;background-color: #6bd9c2"
                        lay-menutree="search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
                <button type="button" class="layui-btn layui-btn-sm layuiadmin-btn-admin"
                        style="margin-left:5px;margin-top:5px;float: right;background-color: #23c6c8"
                        lay-menutree="reload">
                    <i class="layui-icon layui-icon-spread-left layuiadmin-button-btn" style="font-size: 20px;"></i>
                </button>
            </div>
            <hr>
        </div>

        <div id="assMenu" class="demo-tree"></div>
    </div>
</div>
<div class="layui-fluid" style="float: right;width: 82%;height: 96%;padding-left: 5px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 70px;">开始时间</label>
                    <div class="layui-input-block" style="margin-left:100px">
                        <input type="text" name="username" placeholder="请输入" id="starTime" class="layui-input"
                               placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 70px">结束时间</label>
                    <div class="layui-input-block" style="margin-left:100px">
                        <input type="text" name="username" placeholder="请输入" id="endTime" class="layui-input"
                               placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #1ab394" lay-submit lay-filter="LAY-user-back-search">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-search layuiadmin-button-btn"
                                style="font-size: 14px;"> 查 询</i></span>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #f8ac59" data-type="reload"
                            style="background-color: orangered;">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-refresh layuiadmin-button-btn" style="font-size: 14px;"> 重 置</i></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="layui-card" style="height: 88%;width: 65%;float: left">
        <blockquote id="layuiTips" class="layui-elem-quote">&nbsp;&nbsp;请在左侧菜单中选择需要查看的设备或泵房<i
                class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"
                style="float: left"></i></blockquote>
        <div style="height: 100%;width: 100%;display:none;" id="monitorVideoByPumpHouse">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5 id="title2"></h5>
                </div>
                <div class="ibox-content">
                    <div class="layui-fluid" style="padding: 0px">
                        <div class="layui-row layui-col-space1" style="margin-top: 5px">
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <live-player id="playerN2" aspect="16:11"
                                                 video-url="http://39.102.45.137/rtp/00105003039/hls.m3u8"
                                                 live="true"></live-player>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <live-player id="playerN3" aspect="16:11"
                                                 video-url="http://39.102.45.137/rtp/00105003039/hls.m3u8"
                                                 live="true"></live-player>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <live-player id="playerN4" aspect="16:11"
                                                 video-url="http://39.102.45.137/rtp/00105003039/hls.m3u8"
                                                 live="true"></live-player>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <live-player id="playerN5" aspect="16:11"
                                                 video-url="http://39.102.45.137/rtp/00105003039/hls.m3u8"
                                                 live="true"></live-player>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 100%;width: 100%;display:none;" id="monitorVideoByDevice">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5 id="title"></h5>
                </div>
                <div class="ibox-content">
                    <live-player id="playerN1" aspect="16:9" video-url="http://39.102.45.137/rtp/00105003039/hls.m3u8"
                                 live="true"></live-player>
                </div>
                <div style="width:120px;height: 120px;margin-right: 20px;float: right;">
                    <div class="layui-fluid" style="padding: 0px">
                        <div class="layui-row layui-col-space1">
                            <div class="layui-col-xs4">
                                <!-- 填充内容 -->
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/1.png')"
                                         onclick="moveVideo(1,1,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/2.png')"
                                         onclick="moveVideo(0,1,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/3.png')"
                                         onclick="moveVideo(2,1,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/4.png')"
                                         onclick="moveVideo(1,0,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/xz.png')"
                                         onclick="moveVideo(0,0,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/5.png')"
                                         onclick="moveVideo(2,0,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/6.png')"
                                         onclick="moveVideo(2,2,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/7.png')"
                                         onclick="moveVideo(0,2,0)"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/8.png')"
                                         onclick="moveVideo(1,2,0)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:80px;height: 120px;margin-right: 20px;float: right;">
                    <div class="layui-fluid" style="padding: 0px">
                        <div class="layui-row layui-col-space1">
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/add.png')"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/narrow.png')"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/combine.png')"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/combine1.png')"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/addgq.png')"></button>
                                </div>
                            </div>
                            <div class="layui-col-xs6">
                                <div class="layui-card">
                                    <button style="width:40px;height: 40px;background: url('../static/img/vedio/naagq.png')"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:200px;height: 100px;margin-right: 20px;float: right;margin-top: 0px;">
                    <div id="slideTest8" class="demo-slider" style="margin-top: 30px"></div>
                    <br>
                    <div id="slideTest5" class="demo-slider" style="margin-top: 40px"></div>
                </div>
                <div style="width:70px;height: 100px;margin-right: 5px;float: right;margin-top: 0px">
                    <div style="margin-top: 23px">缩放速度 :</div>
                    <br>
                    <div style="margin-top: 25px">滑动速度 :</div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card" style="height: 88%;width: 33.5%;float: right">
        <div style="height: 100%;width: 100%;">
            <div class="ibox-title">
                <span class="label label-primary pull-right">!</span>
                <h5>泵房门禁进出记录</h5>
            </div>
            <div class="ibox-content">
                <table class="layui-table layuiadmin-page-table" lay-skin="line">
                    <thead>
                    <tr>
                        <th>用户</th>
                        <th>时间</th>
                        <th>进出</th>
                        <th>查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="third">王新潮</span></td>
                        <td><span class="third"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="third"><i class="fa fa-sign-in"> 进入</i></span></td>
                        <td><img src="#"></td>

                    </tr>
                    <tr>
                        <td><span class="second">王九超</span></td>
                        <td><span class="second"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="second"><i class="fa fa-sign-in"> 进入</i></span></td>
                        <td><img src="#"></td>
                    </tr>
                    <tr>
                        <td><span class="third">王新潮</span></td>
                        <td><span class="third"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="third"><i class="fa fa-sign-in"> 进入</i></span></td>
                        <td><img src="#"></td>
                    </tr>
                    <tr>
                        <td><span class="first">王新欣</span></td>
                        <td><span class="first"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="first"><i class="fa fa-sign-out"> 离开</i></span></span></td>
                        <td><img src="#"></td>
                    </tr>
                    <tr>
                        <td><span class="first">王新欣</span></td>
                        <td><span class="first"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="first"><i class="fa fa-sign-out"> 离开</i></span></span></td>
                        <td><img src="#"></td>
                    </tr>
                    <tr>
                        <td><span class="first">王新欣</span></td>
                        <td><span class="first"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="first"><i class="fa fa-sign-out"> 离开</i></span></span></td>
                        <td><img src="#"></td>
                    </tr>
                    <tr>
                        <td><span class="first">王新欣</span></td>
                        <td><span class="first"><i class="layui-icon layui-icon-log"> 2020:11:19 11:20</i></span></td>
                        <td><span class="first"><i class="fa fa-sign-out"> 离开</i></span></span></td>
                        <td><img src="#"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../static/libs/jquery.min.js"></script>
<script src="../static/libs/echarts.min.js"></script>
<script src="../static/libs/sws-common.js"></script>
<script src="../static/libs/layui/layui.js"></script>
<script src="../static/libs/mqtt.js" type="text/javascript"></script>
<script src="../static/libs/sws-mqtt.js"></script>
<script src="../static/libs/element/liveplayer-element.min.js"></script>

<script>
    var zoomSpeed = 0;
    var moveSpeed = 0;
    var cameraId = "";
    var channelId = "";
    layui.use(['slider', 'tree', 'util', 'element', 'laydate'], function () {
        var $ = layui.$
            , tree = layui.tree
            , util = layui.util
            , laydate = layui.laydate
            , slider = layui.slider
            , layer = layui.layer;


        //垂直滑块
        slider.render({
            elem: '#slideTest8'
            , step: 10 //步长
            , showstep: true //开启间隔点
            , input: true
            , change: function (vals) {
                zoomSpeed = vals
            }
        });
        slider.render({
            elem: '#slideTest5'
            , step: 10 //步长
            , showstep: true //开启间隔点
            , input: true
            , change: function (vals) {
                moveSpeed = vals
            }
        });


        window.assignmentsMenu = function () {

            //查询 开始时间
            laydate.render({
                elem: '#starTime'
                , type: 'datetime'
                , max: format(new Date().getTime())
                , theme: 'grid'
            });

            //查询 结束时间
            laydate.render({
                elem: '#endTime'
                , type: 'datetime'
                , max: format(new Date().getTime())
                , theme: 'grid'
            });

            $('.site-demo-active').on('click', function () {
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });


            //基本演示
            tree.render({
                elem: '#assMenu'
                , data: projectArrayToJson("")
                , id: 'assMenu'
                , isJump: false //是否允许点击节点时弹出新窗口跳转
                , click: function (obj) {
                    var data = obj.data;  //获取当前点击的节点数据
                    if (data.isDevice != undefined && data.isDevice == true) {
                        $("#title").html("视频- " + data.title);
                        $("#layuiTips").hide();
                        layer.load(2, {shade: [0.5, 'black']})
                        if ($("#monitorVideoByPumpHouse").css("display") == "block") {
                            $("#monitorVideoByPumpHouse").hide()
                            document.getElementById('playerN2').setAttribute("video-url", "");
                            document.getElementById('playerN3').setAttribute("video-url", "");
                            document.getElementById('playerN4').setAttribute("video-url", "");
                            document.getElementById('playerN5').setAttribute("video-url", "");
                        }
                        $("#monitorVideoByDevice").show()
                        cameraId = data.cameraId
                        channelId = data.channelId
                        $.ajax({
                            url: "http://39.96.74.32:14029/monitor/api/play//" + cameraId + "/" + channelId,
                            type: "GET",
                            async: false,
                            headers: {
                                'token': sessionStorage.getItem("token"),
                            },
                            success: function (res) {
                                let parse = JSON.parse(res);
                                var player = document.getElementById('playerN1');
                                var num = parse.ssrc;
                                var r = parseInt(num).toString(16);
                                player.setAttribute("live", "true");
                                player.setAttribute("video-url", "http://39.102.45.137/rtp/0" + r.toUpperCase() + "/hls.m3u8");
                            }
                        })

                        layer.closeAll('loading');
                    }
                    if (data.isPumpHouse != undefined && data.isPumpHouse == true) {
                        layer.load(2, {shade: [0.5, 'black']})
                        $("#title2").html("视频- " + data.title);
                        $("#layuiTips").hide();
                        if ($("#monitorVideoByDevice").css("display") == "block") {
                            $("#monitorVideoByDevice").hide()
                            document.getElementById('playerN1').setAttribute("video-url", "");
                        }
                        $("#monitorVideoByPumpHouse").show()
                        $.ajax({
                            url: "http://39.96.74.32:14029/monitor/api/play//41010500201320000001/41010500201320000001",
                            type: "GET",
                            async: false,
                            headers: {
                                'token': sessionStorage.getItem("token"),
                            },
                            success: function (res) {
                                console.info(res)
                                let parse = JSON.parse(res);
                                var player = document.getElementById('playerN2');
                                var num = parse.ssrc;
                                var r = parseInt(num).toString(16);
                                player.setAttribute("video-url", "http://39.102.45.137/rtp/0" + r.toUpperCase() + "/hls.m3u8");
                            }
                        })

                        layer.closeAll('loading');

                    }
                }
            });

            //按钮事件
            util.event('lay-menutree', {
                search: function (othis) {
                    var search = $("#search").val()
                    layer.load(2);
                    tree.render({
                        elem: '#assMenu'
                        , data: projectArrayToJson(search)
                        , id: 'assMenu'
                        , isJump: false //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.isDevice != undefined && data.isDevice == true) {
                                alert("123")
                            }
                            if (data.isPumpHouse != undefined && data.isPumpHouse == true) {
                                alert("1234")
                            }
                        }
                    });
                    layer.closeAll('loading');
                },
                reload: function () {
                    layer.load(2);
                    $("#search").val("");
                    tree.render({
                        elem: '#assMenu'
                        , data: projectArrayToJson("")
                        , id: 'assMenu'
                        , isJump: false //是否允许点击节点时弹出新窗口跳转
                        , click: function (obj) {
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.isDevice != undefined && data.isDevice == true) {
                                alert("123")
                            }
                            if (data.isPumpHouse != undefined && data.isPumpHouse == true) {
                                alert("1234")
                            }
                        }
                    });
                    layer.closeAll('loading');
                }
            });
        }


        assignmentsMenu();
    });


    function projectArrayToJson(search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: sysUrl + "/pct/gpt",
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                var children = [];
                for (var i = 0; i < r.data.length; i++) {
                    var project = new Object();
                    project.title = r.data[i].projectName;
                    project.id = r.data[i].projectId;
                    project.icon = "fa fa-bar-chart-o";
                    project.spread = true;
                    children = pumpHouseArrayToJson(r.data[i].projectId, search)
                    if (children.length != 0) {
                        project.children = children
                    }
                    if (search != "" && r.data[i].projectName.indexOf(search) != -1) {
                        project.textcolor = "red";
                    }
                    res.push(project)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        })
        return res
    }

    function pumpHouseArrayToJson(projectId, search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: pumpHouseUrl + "/pmp/qpbp/" + projectId,
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                var children = [];
                for (var i = 0; i < r.data.length; i++) {
                    var pumphouse = new Object();
                    pumphouse.title = r.data[i].pumphouseName;
                    pumphouse.id = r.data[i].pumphouseId;
                    pumphouse.icon = "fa fa-home fa-lg";
                    pumphouse.isPumpHouse = true;
                    children = swsgbsArrayToJson(r.data[i].pumphouseId, search)
                    if (children.length != 0) {
                        pumphouse.children = children
                    }
                    if (search != "" && r.data[i].pumphouseName.indexOf(search) != -1) {
                        pumphouse.textcolor = "red";
                    }
                    res.push(pumphouse)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        });
        return res;
    }

    function swsgbsArrayToJson(pumphouseId, search) {
        var res = [];
        $.ajax({
            type: "GET",
            url: swsgbsUrl + "/dce/qdph/" + pumphouseId,
            async: false,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                for (var i = 0; i < r.data.length; i++) {
                    var device = new Object();
                    device.title = r.data[i].name;
                    device.id = r.data[i].deviceId;
                    device.cameraId = r.data[i].cameraId
                    device.channelId = r.data[i].channelId
                    if (r.data[i].online == "1") {
                        device.bgcolor = "green";
                    } else {
                        device.bgcolor = "#666";
                    }
                    device.icon = "fa fa-video-camera";
                    device.isDevice = true;
                    if (search != "" && r.data[i].name.indexOf(search) != -1) {
                        device.textcolor = "red";
                    }
                    res.push(device)
                }
            },
            error: function (e, t) {
                if (e.status == 401) {
                    layer.msg("请刷新或重新登录", {icon: 0})
                    return;
                }
                i.errorView("接口请求开了小差..." + t), i.renderForm(), i.setColsWidth()
            }
        });
        return res;
    }

    function moveVideo(lr,ud,io) {
        var data = {};
        data.leftRight = lr;
        data.upDown = ud;
        data.inOut = io;
        data.moveSpeed = moveSpeed;
        data.zoomSpeed = zoomSpeed;
        $.ajax({
            type: "POST",
            url: "http://39.96.74.32:14029/monitor/api/ptz/" + cameraId + "/" + channelId,
            async: false,
            data: data,
            headers: {
                'token': sessionStorage.getItem("token"),
            },
            success: function (r) {
                console.info(r)

            }
        });

    }

</script>
</body>
</html>