<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>

<div class="layui-fluid" style="float: right;width: 98%;height: 96%;padding-left: 5px;">

</div>

<script src="../static/libs/sws-common.js"></script>
<script src="../static/libs/layui/layui.js"></script>
<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , table = layui.table

    });
</script>
</body>
</html>

