<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="../static/libs/jbox/jBox.all.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layui-card-header.layuiadmin-card-header-auto {
            padding-top: 10px;
            padding-bottom: 5px;
            height: auto;
        }

        .jBox-content {
            padding: 4px 6px;
            border: solid 1px #cccccc;
            border-radius: 6px;
        }

        .jBox-Tooltip .jBox-container {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

        .jBox-pointer-bottom::after {
            width: 0px;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

    </style>
</head>
<body>

<div class="layui-fluid" style="float: right;width: 98%;height: 96%;padding-left: 5px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 60px;padding: 9px 15px">角色名称</label>
                    <div class="layui-input-block" style="margin-left:90px">
                        <select name="roleId">
                            <option value="0">管理员</option>
                            <option value="1">超级管理员</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #1ab394" lay-submit lay-filter="LAY-user-back-search">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-search layuiadmin-button-btn"
                                style="font-size: 14px;"> 查 询</i></span>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-radius layuiadmin-btn-admin"
                            style="background-color: #f8ac59" data-type="reload"
                            style="background-color: orangered;">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-refresh layuiadmin-button-btn" style="font-size: 14px;"> 重 置</i></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div id="roleMenuAdd" class="layui-form"
                 style="display: none;padding:10px;border-color: #0a0b0d;border-width: 2px;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>基本信息修改</legend>
                </fieldset>
                <div class="layui-form-item" style="width: 550px;">
                    <label class="layui-form-label" style="float: left">角色名称:</label>
                    <div class="layui-input-block">
                        <input type="text" id="1" autocomplete="off" placeholder="请输入项目名称" class="layui-input"
                               style="width: 450px">
                    </div>
                </div>
                <div class="layui-form-item" style="width: 550px;">
                    <label class="layui-form-label" style="float: left">权限字符:</label>
                    <div class="layui-input-block">
                        <input type="text" id="2" autocomplete="off" placeholder="请输入项目名称" class="layui-input"
                               style="width: 450px">
                    </div>
                </div>
                <div class="layui-form-item" style="width: 550px;">
                    <label class="layui-form-label" style="float: left">显示顺序:</label>
                    <div class="layui-input-block">
                        <input type="text" id="3" autocomplete="off" placeholder="请输入项目名称" class="layui-input"
                               style="width: 450px">
                    </div>
                </div>
                <div class="layui-form-item" style="width: 550px;">
                    <label class="layui-form-label">角色状态:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="close" lay-skin="switch" lay-text="启用|停用">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>分配菜单修改</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单分配:</label>
                    <div class="layui-btn-container">
                        <button type="button" class="layui-btn layui-btn-sm" lay-menutree="getChecked">全选 / 清空</button>
                        <button type="button" class="layui-btn layui-btn-sm" lay-menutree="setChecked">展开 / 收缩</button>
                        <button type="button" class="layui-btn layui-btn-sm" lay-menutree="reload">重置</button>
                    </div>
                    <div class="layui-input-block">
                        <div id="assMenu" class="demo-tree"></div>
                    </div>
                </div>
            </div>
        </div>
        <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
    </div>
</div>
</div>

<script src="../static/libs/sws-common.js"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" style="background-color:#1E9FFF"
                lay-event="changeData">                        <span style="text-align:center;display:block;"><i
                class="fa fa-edit fa-lg" style="font-size: 14px;"> 修改选中</i></span></button>
        <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" style="background-color:#f49ba5"
                lay-event="deleteDatas"><span style="text-align:center;display:block;"><i
                class="fa fa-trash-o" style="font-size: 14px;"> 删除选中</i></span></button>
    </div>
</script>
<script src="../static/libs/jquery.min.js"></script>
<script src="../static/libs/layui/layui.js"></script>
<script src="../static/libs/jbox/jBox.all.js"></script>
<script>


    layui.use(['table', 'tree', 'util'], function () {
        var $ = layui.$
            , table = layui.table
            , tree = layui.tree
            , util = layui.util


        window.assignmentsMenu = function (roleId, roleName) {

            var updateAllMenuArray = [];
            var updateCheckedMenuArray = [];
            $.ajax({
                type: "GET",
                url: sysUrl + "/menu/getMenuIdsByRoleId/"+roleId,
                async: false,
                headers: {
                    'token': sessionStorage.getItem("token"),
                },
                success: function (r) {
                    for (var i = 0; i < r.data.length; i++) {
                        updateCheckedMenuArray.push(r.data[i])
                    }
                }
            });
            $.ajax({
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                async: false,
                url: sysUrl + '/menu/getList',
                headers: {
                    'token': sessionStorage.getItem("token"),
                },
                success: function (r) {
                    for (var i = 0; i < r.data.length; i++) {
                        if (updateCheckedMenuArray.includes(r.data[i].menuId)) {
                            r.data[i].checked = true;
                        }
                        updateAllMenuArray.push(r.data[i])
                    }
                }
            });


            //基本演示
            tree.render({
                elem: '#assMenu'
                , data: arrayToJson(updateAllMenuArray, 0)
                , showCheckbox: true  //是否显示复选框
                , id: 'assMenu'
                , isJump: true //是否允许点击节点时弹出新窗口跳转
                , click: function (obj) {
                    var data = obj.data;  //获取当前点击的节点数据
                    layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                }
            });

            //按钮事件
            util.event('lay-menutree', {
                getChecked: function (othis) {
                    var checkedData = tree.getChecked('assMenu'); //获取选中节点的数据
                    layer.alert(JSON.stringify(checkedData), {shade: 0});
                }
                , reload: function () {
                    //重载实例
                    tree.reload('assMenu', {});

                }
            });

            layer.open({
                type: 1,
                offset: '10px',
                skin: 'layui-layer-lan',
                title: ["修改" + roleName + "信息", 'font-size:18px;'],
                area: ['620px', '700px'],
                shade: 0.4,
                shadeClose: true,
                content: jQuery("#roleMenuAdd"),
                btn: ['确定', '取消'],
                btn1: function () {


                    var checkedData = tree.getChecked('assMenu');
                    var res = getCheckMenuIds(checkedData);
                    $.ajax({
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'JSON',
                        data: JSON.stringify(res),
                        url: sysUrl + '/menu/saveMenuByRoleId/' + roleId,
                        headers: {
                            'token': sessionStorage.getItem("token"),
                        },
                        success: function (r) {

                        }
                    });

                    layer.closeAll();
                },
                btn2: function () {

                    layer.closeAll();
                },
            })
        }

        window.arrayToJson = function (array, pid) {
            var res = [];
            var children = [];
            for (var i = 0; i < array.length; i++) {
                if (array[i].parentId == pid) {
                    var menu = new Object();
                    menu.title = array[i].menuName;
                    menu.id = array[i].menuId;
                    menu.icon = array[i].icon;
                    children = arrayToJson(array, array[i].menuId)
                    if (children.length != 0) {
                        menu.children = children
                    } else {
                        if (array[i].checked == true) {
                            menu.checked = true;
                        }
                    }
                    res.push(menu)
                }
            }
            return res;
        }

        window.getCheckMenuIds = function (checkedData) {
            var res = [];
            var cres = [];
            for (var i = 0; i < checkedData.length; i++) {
                res.push(checkedData[i].id)
                if (checkedData[i].hasOwnProperty("children")) {
                    cres = getCheckMenuIds(checkedData[i].children);
                    res = res.concat(cres);
                }
            }
            return res;
        }

        //方法级渲染
        table.render({
            elem: '#user_table'
            , text: {
                none: '暂无相关数据' //默认：无数据
            }
            , url: sysUrl + '/role/list'
            , headers: {
                'token': sessionStorage.getItem("token"),
            }
            , defaultToolbar: [{ //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '新增角色'
                , color: '#6bd9c2'
                , text: '新增角色'
                , layEvent: 'addUser'
                , icon: 'layui-icon-username'
            }, 'filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '刷新'
                , color: '#23c6c8'
                , text: '刷新'
                , layEvent: 'refresh'
                , icon: 'layui-icon-refresh'
            }]
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'roleId', title: '角色ID', width: 80, align: 'center'}
                , {field: 'roleName', title: '角色名称', width: 150, align: 'center'}
                , {field: 'roleSort', title: '显示顺序', width: 120, align: 'center'}
                , {field: 'dataScope', title: '数据范围', width: 200, align: 'center'}
                , {field: 'delFlag', title: '删除标志', width: 120, align: 'center'}
                , {
                    field: 'status', title: '角色状态', width: 120, align: 'center', templet: function (res) {
                        if (res.status == 0) {
                            return '正常';
                        } else if (res.status == 1) {
                            return '停用';
                        } else {
                            return '-';
                        }
                    }
                }
                , {field: 'roleKey', title: '角色权限', width: 200, align: 'center'}
                , {
                    title: '操作', align: 'center', width: 250, templet: function (res) {
                        return "<a class='layui-btn layui-btn-xs' lay-event='detail' style='background-color: #f49ba5'><i class='fa fa-trash-o'> 删除</i></a>" +
                            "<a class='layui-btn layui-btn-xs' lay-event='edit' style='background-color: #23c6c8' onclick='assignmentsMenu(" + res.roleId + ",\"" + res.roleName + "\")'><i class='fa fa-edit fa-lg'> 修改</i></a>" +
                            "<a class='layui-btn layui-btn-xs' id='otherOper" + res.roleId + "' style='background-color: #6bd9c2'><i class='layui-icon layui-icon-add-circle'> 其他</i></a>"
                    }
                }
                , {field: 'remark', title: '备注', align: 'center'}
            ]]
            , id: 'userTable'
            , response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , skin: "line"
            , page: true
            , limit: 14
            , limits: [8, 10, 20, 50, 100, 200]
            , height: 'full-115'
            , done: function (res, curr, count) {
                for (var i = 0; i < res.data.length; i++) {
                    var w = 156
                    new jBox('Tooltip', {
                        width: w,
                        position: {
                            x: 'left',//控制tip在target的相对位置
                        },
                        offset: {//控制相对位置
                            x: w - 20,
                            y: 40,
                        },
                        height: 32,
                        closeOnMouseleave: true,
                        animation: 'zoomIn',
                        attach: '#otherOper' + res.data[i].roleId,
                        content: "<div><a class='layui-btn layui-btn-xs' lay-event='detail' style='background-color: #1e9fff'><i class='layui-icon layui-icon-survey' style='font-size: 10px !important'> 分配用户</i></a>" +
                            "<a class='layui-btn layui-btn-xs' lay-event='detail' style='background-color: #1e9fff'><i class='layui-icon layui-icon-survey'  style='font-size: 10px !important'> 数据权限</i></a></div>"
                    });
                }
            }
        });

        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'deleteDatas':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'addData':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'changeData':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'selectAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'refresh':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: ""
                    }
                }, 'data');
            },
            search: function () {
                var searchReload = $('#nickname');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: searchReload.val()
                    }
                }, 'data');
            }
        };


        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>

