<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/libs/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="layui-fluid" style="float: left;width: 17%;height: 96%;padding-right: 5px;">
    <div class="layui-card" style="height: 100%"></div>
</div>
<div class="layui-fluid" style="float: right;width: 80%;height: 96%;padding-left: 5px;">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">登录名</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">手机号</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="telphone" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">项目名</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <input type="text" name="projectId" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="text-align: left;width: 50px">角色名</label>
                    <div class="layui-input-block" style="margin-left:80px">
                        <select name="roleId">
                            <option value="0">管理员</option>
                            <option value="1">超级管理员</option>
                            <option value="2">纠错员</option>
                            <option value="3">采购员</option>
                            <option value="4">推销员</option>
                            <option value="5">运营人员</option>
                            <option value="6">编辑</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-search layuiadmin-button-btn"
                                style="font-size: 14px;"> 搜 索</i></span>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" style="background-color: #ff5722;">
                        <span style="text-align:center;display:block;"><i
                                class="layui-icon layui-icon-refresh layuiadmin-button-btn" style="font-size: 14px;"> 重 置</i></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
<!--            <div style="padding-bottom: 10px;">-->
<!--                <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>-->
<!--                <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>-->
<!--            </div>-->

            <table class="layui-hide" id="user_table" lay-filter="user_table"></table>

        </div>
    </div>
</div>

<script src="../static/libs/sws-common.js"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layuiadmin-btn-admin" style="background-color:#6bd9c2" lay-event="addData">新增用户</button>
        <button class="layui-btn layuiadmin-btn-admin" style="background-color:#1c84c6" lay-event="changeData">修改选中</button>
        <button class="layui-btn layuiadmin-btn-admin" style="background-color:#f49ba5" lay-event="deleteDatas">删除数据</button>
    </div>
</script>
<script src="../static/libs/layui/layui.js"></script>
<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , table = layui.table

        //方法级渲染
        table.render({
            elem: '#user_table'
            ,text: {
                none: '暂无相关数据' //默认：无数据
            }
            , url: sysUrl + '/user/list'
            , headers: {
                'token': sessionStorage.getItem("token"),
            }
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '刷新'
                ,layEvent: 'refresh'
                ,icon: 'layui-icon-refresh'
            }]
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'userId', title: '用户ID', width: 80, align: 'center'}
                , {field: 'userName', title: '用户昵称', width: 120, align: 'center'}
                , {field: 'email', title: '用户邮箱', width: 200, align: 'center'}
                , {field: 'phonenumber', title: '手机号码', width: 120, align: 'center'}
                , {field: 'status', title: '帐号状态', width: 120, align: 'center', templet: function (res) {
                        if (res.status == 0) {
                            return '正常';
                        } else if (res.status == 1) {
                            return '停用';
                        } else {
                            return '-';
                        }
                    }}
                , {field: 'loginIp', title: '最后登陆IP', width: 150, align: 'center'}
                , {field: 'loginDate', title: '最后登陆时间', width: 200, align: 'center'}
                , {field: 'remark', title: '备注', align: 'center'}
            ]]
            , id: 'userTable'
            , response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , page: true
            , limit: 10
            , limits: [8, 10, 20, 50, 100, 200]
            , height: 'full-135'
        });

        table.on('toolbar(user_table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'deleteDatas':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'addData':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'changeData':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'selectAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'refresh':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });


        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: ""
                    }
                }, 'data');
            },
            search: function () {
                var searchReload = $('#nickname');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: searchReload.val()
                    }
                }, 'data');
            }
        };



        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>

