<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>选择地址</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">选择地址</div>
</header>

<section class="container">
	<!--<div class="no-address">
		<i></i>
		<p>您暂时没有添加任何收货地址</p>
	</div>-->
	
	<div class="address-list">
		<div class="address">
			<div class="address-list-content">
				<h3>名字</h3>
				<span>13977188888</span>

				<p>广西南宁市青秀区金湖路63号金源CBD现代城2201</p>
			</div>

			<div class="address-list-toolbar">
				<div class="default-address">
					<div class="set-default">
						<i></i>
						<span>默认收货地址</span>
					</div>
				</div>

				<div class="address-operate">
					<a href="ConfirmOrder.Html">选择</a>

					<a href="AddAddress.html">编辑</a>
				</div>
			</div>
		</div>
		<div class="clr"></div>

		<div class="address">
			<div class="address-list-content">
				<h3>张三</h3>
				<span>13977112345</span>

				<p>广西南宁市青秀区金湖路63号金源CBD现代城2201</p>
			</div>

			<div class="address-list-toolbar">
				<div class="address-operate">
					<a href="ConfirmOrder.Html">选择</a>

					<a href="AddAddress.html">编辑</a>
				</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	
	<div class="add-btn">
		<a href="../User/AddAddress.html">
			<i></i>
			<span>新建地址</span>
		</a>
	</div>
</section>
</body>
</html>
