<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>写评价</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">写评价</div>
</header>

<section class="container">
	<div class="feedback-form">
		<form action="" method="get">
			<div class="textarea-group">
				<textarea placeholder="分享一下您的使用感受"></textarea>
				
				<div class="textarea-group-tips">
					<span class="fl"><em>*</em>最少输入5个字</span>
					
					<span class="fr">0/200</span>
				</div>
			</div>
			<div class="clr"></div>
			
			<div class="upload-photo">
				<h3>上传产品图片</h3>
				<ul>
					<li>
						<div class="upload-photo-box">
							<div class="add-photo-btn">
								<input type="file" accept="image/*">
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="form-submit">
				<button type="submit" class="form-submit-btn" disabled>提交</button>
			</div>
		</form>
	</div>
</section>
</body>
</html>
