<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>订单详情</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/shop.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>	
<header class="header">
	<div class="header-return">
		<a href="javascript:history.go(-1);"></a>
	</div>

	<div class="logo">订单详情</div>
</header>

<section class="container">
	<div class="order-details-status">
		<h1>待收货</h1>

		<a href="">确认收货</a>
	</div>
	
	<div class="order-details-recipient">
        <div class="recipient-people">
            <h3>李四</h3>
            <span>13978866666</span>
        </div>
        
        <div class="recipient-address">
            <p>广西南宁市青秀区金湖路63号金源CBD现代城2201</p>
        </div>
    </div>

	<div class="order">
		<div class="order-title">
			<a href="" class="order-shop fl">店铺名字</a>	            	           
		</div>	

		<div class="order-product">
			<img src="../../Theme/img/p3.jpg">

			<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

			<div class="order-price">
				<p class="order-product-price">¥19.90</p>
				<p>×1</p>
			</div>
		</div>

		<div class="order-product">
			<img src="../../Theme/img/p1.jpg">

			<h1>新良原味面包粉 烘焙原料 面包机专用粉 高筋面粉 2.5kg</h1>

			<div class="order-price">
				<p class="order-product-price">¥19.90</p>
				<p>×4</p>
			</div>
		</div>	
		
		<div class="order-summary">
			<span>实付:</span>
			<b>¥99</b>
			<span>(免运费)</span>
		</div>	            
	</div>
	<div class="clr"></div>
	
	<div class="order-details-info">
        <ul>
            <li>
                <label>订单编号：</label>
                <span>180323-431395904000615</span>
            </li>
            
            <li>
                <label>支付方式：</label>
                <span>某某币</span>
            </li>
            
            <li>
                <label>下单时间：</label>
                <span>2018-3-27 10:23:26</span>
            </li>
            
            <li>
                <label>快递：</label>
                <span>顺丰</span>
            </li>
            
            <li>
                <label>快递单号：</label>
                <span>70053453535</span>
            </li>
        </ul>
    </div>
</section>	

	
<script src="../../Theme/js/jquery-1.11.2.min.js" ></script>
</body>
</html>
