<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>写评价</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/shop.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">评价</div>
</header>

<section class="container">
	<div class="goods-comment comment-list">
		<div class="goods-comment-list">
			<div class="goods-comment-author">
				<img src="../../Theme/images/member.png">
				<span>会员名字</span>
				
				<div class="goods-comment-level">
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
				</div>
				
				<span class="fr">2018-3-21</span>
			</div>
			
			<div class="goods-comment-content">
				<p>已经是第二次买了，收到包包了，真的不错，包包软软的，皮质也好，很亮不是劣质品，上次我买了一个这个是给我婆婆买的，婆婆也非常喜欢，这两天下雪了，物流还很快，很好的卖家，看好了下手吧！！</p>
			</div>

			<div class="goods-comment-photo">
				 <ul>
					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/p1.jpg">
						 </div>
					 </li>

					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/p2.jpg">
						 </div>
					 </li>

					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/p3.jpg">
						 </div>
					 </li>
				 </ul>
			</div>
		</div>
		<div class="clr"></div>
		
		<div class="goods-comment-list">
			<div class="goods-comment-author">
				<img src="../../Theme/images/member.png">
				<span>会员名字</span>
				
				<div class="goods-comment-level">
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i></i>
				</div>
				
				<span class="fr">2018-3-21</span>
			</div>

			<div class="goods-comment-content">
				<p>已经是第二次买了，收到包包了，真的不错。老婆非常喜欢，一直夸我！开心</p>
			</div>

			<div class="goods-comment-photo">
				 <ul>
					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/sample1.jpg">
						 </div>
					 </li>

					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/sample2.jpg">
						 </div>
					 </li>
				 </ul>
			</div>
		</div>
		<div class="clr"></div>
		
		<div class="goods-comment-list">
			<div class="goods-comment-author">
				<img src="../../Theme/images/member.png">
				<span>会员名字</span>
				
				<div class="goods-comment-level">
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
					<i class="active"></i>
				</div>
				
				<span class="fr">2018-3-21</span>
			</div>

			<div class="goods-comment-content">
				<p>已经是第二次买了，收到包包了，真的不错。老婆非常喜欢，一直夸我！开心</p>
			</div>

			<div class="goods-comment-photo">
				 <ul>
					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/pic_2-1.jpg">
						 </div>
					 </li>

					 <li>
						 <div class="comment-photo-box">
							 <img src="../../Theme/img/pic_2-3.jpg">
						 </div>
					 </li>
				 </ul>
			</div>
		</div>
		<div class="clr"></div>
	</div>
</section>
</body>
</html>
