<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>店铺</title>
<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/shop.css" rel="stylesheet">
<body>
	
	<header class="header">
		<div class="header-return">
		    <a href="javascript:history.go(-1);"></a>
		</div>
		
		<div class="logo">店铺名</div>
	</header>
	<section class="container">
	<div class="main_cont">
		<div class="shop_box">
			<ul class="clearfix" >	
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_2-2.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">2门柜子卧室木质家具组装整体定制移门大衣橱</p>
								<p class="price_t">30.00</p>
							</div>
						</div>
					</li>
				</a>
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_2-1.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">家用大功率手持迷你静音强力小型地毯除螨吸尘机XC90</p>
								<p class="price_t">70.00</p>
							</div>
						</div>
					</li>
				</a>
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_2-4.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">2门柜子卧室木质家具组装整体定制移门大衣橱</p>
								<p class="price_t">30.00</p>
							</div>
						</div>
					</li>
				</a>
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_3-2.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">家用大功率手持迷你静音强力小型地毯除螨吸尘机XC90</p>
								<p class="price_t">70.00</p>
							</div>
						</div>
					</li>
				</a>
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_2-5.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">2门柜子卧室木质家具组装整体定制移门大衣橱</p>
								<p class="price_t">30.00</p>
							</div>
						</div>
					</li>
				</a>
				<a href="ProductDetails.html">
					<li>
						<div class="s_list_box">
							<div class="list_box_pic">
								<img src="../../Theme/img/pic_3-1.jpg"/>
							</div>
							<div class="s_text_c">
								<p class="s_box_text">家用大功率手持迷你静音强力小型地毯除螨吸尘机XC90</p>
								<p class="price_t">70.00</p>
							</div>
						</div>
					</li>
				</a>
				
			</ul>
		</div>		
	</div>
	
</section>
	

</body>
</html>
