#edtion {
  width: 100%;
  height: 16rem;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  font-size: 0.56rem;
}
.save {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #059659;
  font-size: 0.76rem;
}
