.header {
  height: 1.52rem;
  background-color: #333333 ;
  font-size: 0.72rem;
  text-align: center;
  line-height: 1.52rem;
  color: #ffffff;
}
#wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.52rem;
  bottom: 2rem;
  overflow: hidden;
}
#wrap #scroller {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.advier-instruce {
  height: 7.52rem;
  background: url(../img/guwendetial/beijing.jpg) no-repeat 0 0;
  background-size: cover;
}
.advier-instruce .advier-top {
  height: 6rem;
}
.advier-instruce .advier-top .report {
  float: left;
  width: 0.98rem;
  height: 1.76rem;
  margin-left: 0.7rem;
  margin-top: 0.62rem;
  font-size: 0.44rem;
  color: #fff;
  text-align: center;
}
.advier-instruce .advier-top .report span:first-of-type {
  width: 0.9rem;
  height: 0.9rem;
  display: block;
  background: url(../img/guwendetial/report.png) no-repeat;
  background-size: cover;
}
.advier-instruce .advier-top .report span:last-of-type {
  line-height: 0.9rem;
}
.advier-instruce .advier-top .advier-person {
  width: 10.36rem;
  height: 5.38rem;
  float: left;
  margin-top: 0.62rem;
  text-align: center;
}
.advier-instruce .advier-top .advier-person .person {
  width: 3.3rem;
  height: 3.3rem;
}
.advier-instruce .advier-top .advier-person .advier-name {
  color: #fff;
  line-height: 0.78rem;
  margin-top: 0.34rem;
}
.advier-instruce .advier-top .advier-person .advier-name span:first-of-type {
  font-size: 0.6rem;
}
.advier-instruce .advier-top .advier-person .advier-name span:last-of-type {
  width: 0.8rem;
  height: 0.76rem;
  display: inline-block;
  border: 1px solid #fff;
}
.advier-instruce .advier-top .advier-person .start {
  width: 100%;
  text-align: center;
}
.advier-instruce .advier-top .advier-person .start span {
  height: 0.6rem;
  width: 0.6rem;
  display: inline-block;
  background: url(../img/guwendetial/start.png) no-repeat;
}
.advier-instruce .advier-top .advier-person .start span:last-of-type {
  background: url(../img/guwendetial/start2.png) no-repeat;
}
.advier-instruce .advier-top .advier-follow {
  float: right;
  margin-right: 0.56rem;
  width: 2.32rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #fff;
  font-size: 0.56rem;
  text-align: center;
  border-radius: 0.16rem;
  margin-top: 0.7rem;
  background-color: #b5b5b5;
}
.advier-instruce .advier-down {
  text-align: center;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #fff;
  margin-top: 0.52rem;
}
.advier-instruce .advier-down span:nth-of-type(2) {
  padding-right: 0.26rem;
  padding-left: 0.28rem;
  border-right: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
}
.range {
  background-color: #fff;
  color: #999999;
  font-size: 0.52rem;
  line-height: 0.94rem;
}
.range dl {
  margin-left: 1.94rem;
  margin-top: 0.04rem;
}
.range dl:last-of-type {
  margin-top: 0.32rem;
  line-height: 0.58rem;
}
.range dt {
  float: left;
}
.range dd {
  float: left;
  margin-right: 0.2rem;
}
.loan-nav {
  margin-top: 0.16rem;
  margin-bottom: 0.1rem;
  height: 1.6rem;
  background-color: #fff;
  font-size: 0.52rem;
  color: #4f4f4f;
  line-height: 1.6rem;
  display: flex;
  justify-content: space-around;
}
.loan-nav .active2 {
  color: #059659;
}
.project-list li {
  width: 100%;
  height: 4.4rem;
  background-color: #fff;
  margin-bottom: 0.2rem;
}
.project-list li .top {
  height: 3.28rem;
  border-bottom: 1px dashed #ccc;
}
.project-list li .top img {
  width: 2.6rem;
  height: 2.6rem;
  float: left;
  border: 1px solid #ccc;
  margin-left: 0.24rem;
  margin-top: 0.2rem;
}
.project-list li .top .mid {
  float: left;
  width: 7.2rem;
  margin-left: 0.46rem;
}
.project-list li .top .mid p {
  font-size: 0.44rem;
  color: #999999;
  line-height: 1rem;
}
.project-list li .top .mid p span:first-of-type {
  margin-right: 0.1rem;
}
.project-list li .top .mid p span:last-of-type {
  float: right;
}
.project-list li .top .mid p:first-of-type {
  font-size: 0.6rem;
  color: #7f7f7f;
  line-height: 1.04rem;
  margin-top: 0.12rem;
}
.project-list li .top .right {
  float: right;
  width: 3.6rem;
  border-left: 1px solid #ccc;
  margin-top: 0.1rem;
  padding-left: 0.2rem;
}
.project-list li .top .right p {
  width: 3.6rem;
  margin: 0;
  line-height: 1.6rem;
  font-size: 0.48rem;
  color: #999;
  text-align: center;
}
.project-list li .top .right p:first-of-type {
  font-size: 0.7rem;
  color: #ff7400;
  line-height: 1.08rem;
  margin-top: 0.4rem;
}
.project-list li .down {
  height: 1.06rem;
}
.project-list li .down span {
  color: #059659;
  border: 1px solid #059659;
  padding: 0 0.32rem;
  margin-right: 0.72rem;
  font-size: 0.44rem;
  vertical-align: middle;
}
.project-list li .down span:first-of-type {
  margin-left: 0.74rem;
}
.footer {
  width: 100%;
  height: 2rem;
  font-size: 0.72rem;
  color: #fff;
  line-height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer span:first-of-type {
  float: left;
  width: 50%;
  height: 2rem;
  background: url(../img/guwendetial/shengqing.png) no-repeat 1.62rem 0.5rem;
  background-size: 1rem 1rem;
  background-color: #fdd100;
  text-indent: 2.98rem;
}
.footer a {
  color: #fff;
  float: left;
  width: 50%;
  height: 2rem;
  text-indent: 2.98rem;
  background: url(../img/guwendetial/phone.png) no-repeat 1.62rem 0.5rem;
  background-color: #059659;
  background-size: 0.96rem 0.96rem;
}
