.advier {
  background: url(../img/myself/adviser.jpg) no-repeat;
}
.myself {
  height: 6.26rem;
  background-color: #fbfaf8;
  padding-top: 0.64rem;
  margin-bottom: 0.2rem;
}
.myself div {
  height: 3.92rem;
}
.myself div p:first-of-type {
  width: 2.58rem;
  height: 2.58rem;
  margin: 0 auto;
}
.myself div p:first-of-type img {
  width: 2.58rem;
  height: 2.58rem;
}
.myself div p:last-of-type {
  width: 3rem;
  line-height: 1.14rem;
  font-size: 0.44rem;
  color: #666666;
  margin: 0 auto;
  text-indent: 0.2rem;
}
.myself div p:last-of-type img {
  width: 0.9rem;
  height: 0.9rem;
  float: right;
  margin-right: 0.2rem;
}
.myself1 {
  width: 100%;
}
.myself1 li {
  width: 33.333%;
  float: left;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.48rem;
  line-height: 0.88rem;
}
.myself1 li:last-of-type {
  border: none;
}
.list {
  margin-bottom: 0.6rem;
}
.list li {
  height: 1.92rem;
  background-color: #fff;
  margin-bottom: 0.04rem;
  font-size: 0.6rem;
  line-height: 1.92rem;
  color: #999999;
}
.list li span:first-of-type {
  float: left;
  width: 0.96rem;
  height: 0.96rem;
  background-size: 10rem 1rem;
  margin-left: 0.5rem;
  margin-top: 0.56rem;
  margin-right: 0.5rem;
}
.list li img {
  width: 0.6rem;
  height: 0.6rem;
  float: right;
  margin-top: 0.68rem;
  margin-right: 0.9rem;
}
.list li:nth-of-type(1) span:first-of-type {
  background-position: -0.14rem -0.02rem;
}
.list li:nth-of-type(2) span:first-of-type {
  background-position: -1.26rem -0.02rem;
}
.list li:nth-of-type(3) span:first-of-type {
  background-position: -2.46rem -0.02rem;
}
.list li:nth-of-type(4) span:first-of-type {
  background-position: -3.58rem -0.04rem;
}
.list li:nth-of-type(5) span:first-of-type {
  background-position: -4.58rem -0.02rem;
}
.list li:nth-of-type(6) span:first-of-type {
  background-position: -5.56rem -0.02rem;
}
.list li:nth-of-type(7) span:first-of-type {
  background-position: -6.6rem -0.02rem;
}
.list li:nth-of-type(8) span:first-of-type {
  background-position: -7.76rem -0.02rem;
}
.list li:nth-of-type(9) span:first-of-type {
  background-position: -8.86rem -0.04rem;
}
.exit {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2rem;
  background-color: #059659;
  text-align: center;
  color: #fff;
  line-height: 2rem;
  border-radius: 0.16rem;
  font-size: 0.76rem;
}
#wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2rem;
  overflow: hidden;
}
#wrap #scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
