#wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 2rem;
  overflow: hidden;
}
#wrap #scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.list li {
  font-size: 0.56rem;
  height: 1.82rem;
  color: #333333;
  margin-bottom: 0.04rem;
  line-height: 1.82rem;
  background-color: #fff;
}
.list li span {
  margin-right: 0.8rem;
  margin-left: 0.4rem;
}
.list li:first-of-type {
  background: url(../img/fapro/adddata.png) no-repeat 0.42rem 0.48rem;
  background-color: #fff;
  background-size: 0.84rem 0.84rem;
  text-indent: 1.64rem;
}
.list li:nth-of-type(2) {
  background: url(../img/fapro/add1.png) no-repeat 0.42rem 0.54rem;
  background-color: #fff;
  background-size: 0.8rem 0.8rem;
  text-indent: 1.64rem;
}
.save {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 0.76rem;
  background-color: #059659;
}
