<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>区域选择</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/user.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">区域选择</div>
</header>

<section class="region container">
	<div class="current-region">
		当前选择的国家/地区：<span>中国</span>
	</div>
	<div class="clr"></div>
	
	<div class="region-list">
		<form action="../Wallet/MyBankcard.html" method="get">
		<ul>
			<li>
				<input type="radio">
				<label>英国</label>
			</li>
			
			<li>
				<input type="radio">
				<label>澳大利亚</label>
			</li>
			
			<li>
				<input type="radio">
				<label>印度</label>
			</li>
			
			<li>
				<input type="radio">
				<label>泰国</label>
			</li>
			
			<li>
				<input type="radio">
				<label>德国</label>
			</li>
			
			<li>
				<input type="radio">
				<label>印度尼西亚</label>
			</li>
			
			<li>
				<input type="radio">
				<label>柬埔寨</label>
			</li>
			
			<li>
				<input type="radio">
				<label>马来西亚</label>
			</li>
			
			<li>
				<input type="radio">
				<label>老挝</label>
			</li>
			
			<li>
				<input type="radio">
				<label>中国香港</label>
			</li>
			
			<li>
				<input type="radio">
				<label>日本</label>
			</li>
			
			<li>
				<input type="radio">
				<label>新加坡</label>
			</li>
			
			<li>
				<input type="radio">
				<label>中国香港</label>
			</li>
			
			<li>
				<input type="radio">
				<label>日本</label>
			</li>
			
			<li>
				<input type="radio">
				<label>新加坡</label>
			</li>
		</ul>
		</form>
	</div>
	<div class="clr"></div>
	
	<div class="region-sumbit">
		<button type="submit">确定</button>
	</div>
</section>
</body>
</html>
