<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>买入记录</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">买入记录</div>
</header>

<section class="container">
	<!--<div class="no-content">
		<i></i>
		<p>暂无内容</p>
	</div>-->
	
	<div class="record-list">
		<div class="record-list-title">
			<span>时间</span>
			<span>买入金额</span>
			<span>账户</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-19</span>
			<span>
				<b class="record-red">100.000</b>
			</span>
			<span>VPay</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-15</span>
			<span>
				<b class="record-red">100.000</b>
			</span>
			<span>比特币</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-8-10</span>
			<span>
				<b class="record-red">100.000</b>
			</span>
			<span>VPay</span>
		</div>
		
		<div class="record-list-content">
			<span>2018-7-30</span>
			<span>
				<b class="record-red">100.000</b>
			</span>
			<span>比特币</span>
		</div>
		
		<div class="load-more">
			<a href="">点击加载更多</a>
		</div>

		<!--<div class="load-no-more">
			<span>没有更多了</span>
		</div>-->	
	</div>
</section>
</body>
</html>
