<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>未完成订单</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">未完成订单</div>
</header>

<section class="container tab-container">
    <div class="tab-title">
        <div class="tab-item">
            <div class="lava"></div>
            
            <span class="active">未选择打款人</span>
            <span>已选择打款人</span>
        </div>
	</div>
    
	<!--<div class="no-content">
		<i></i>
		<p>暂无内容</p>
	</div>-->
	
    <div class="tab-content">
        <div>
            <div class="trade-order-list buy-order">
                <div class="trade-order-title">
                    <span class="fl">2018-6-29 11:01:21</span>
                    <span class="trade-order-status fr">未完成</span>
                </div>
                
                <div class="trade-order-info">
                    <a href="TradeOrderDetails.html">
                        <div class="trade-order-people">
                            <img src="../../Theme/images/member.png">
                        </div>
                        
                        <div class="trade-order-content">
                            <h3>卖出金额1000</h3>
                            <p>价格：1000</p>
                        </div>
        
                        <div class="trade-order-number">
                            <h1>1000</h1>
                            <span>实付</span>
                        </div>
                    </a>
                </div>
                
                <div class="trade-order-operate">
                    <ul>
                        <li>
                            <a href="">选择打款人</a>
                            <a href="">取消</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            
            <div class="trade-order-list buy-order">
                <div class="trade-order-title">
                    <span class="fl">2018-6-29 11:01:21</span>
                    <span class="trade-order-status fr">未完成</span>
                </div>
                
                <div class="trade-order-info">
                    <a href="TradeOrderDetails.html">
                        <div class="trade-order-people">
                            <img src="../../Theme/images/member.png">
                        </div>
                        
                        <div class="trade-order-content">
                            <h3>买入金额1000</h3>
                            <p>价格：1000</p>
                        </div>
        
                        <div class="trade-order-number">
                            <h1>1000</h1>
                            <span>实付</span>
                        </div>
                    </a>
                </div>
                
                <div class="trade-order-operate">
                    <ul>
                        <li>
                            <a href="">选择打款人</a>
                            <a href="">取消</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            
            <div class="trade-order-list buy-order">
                <div class="trade-order-title">
                    <span class="fl">2018-6-29 11:01:21</span>
                    <span class="trade-order-status fr">未完成</span>
                </div>
                
                <div class="trade-order-info">
                    <a href="TradeOrderDetails.html">
                        <div class="trade-order-people">
                            <img src="../../Theme/images/member.png">
                        </div>
                        
                        <div class="trade-order-content">
                            <h3>买入金额1000</h3>
                            <p>价格：1000</p>
                        </div>
        
                        <div class="trade-order-number">
                            <h1>1000</h1>
                            <span>实付</span>
                        </div>
                    </a>
                </div>
                
                <div class="trade-order-operate">
                    <ul>
                        <li>
                            <a href="">选择打款人</a>
                            <a href="">取消</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            
            <div class="load-more">
                <a href="">点击加载更多</a>
            </div>
            
            <!--<div class="load-no-more">
                <span>没有更多了</span>
            </div>-->
        </div>
        
        <div>
            <div class="no-content">
                <i></i>
                <p>暂无内容</p>
            </div>
        </div>
    </div>
</section>

<script src="../../Theme/js/jquery-1.11.2.min.js"></script>
<script src="../../Theme/js/main.js"></script>
</body>
</html>
