<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>交易订单详情</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/trade.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">交易订单详情</div>
</header>

<section class="container">
	<div class="trade-people">
		<div class="trade-people-photo">
			<img src="../../Theme/images/member.png">
		</div>
		
		<div class="trade-people-name">
			<h3>AAAA(838457)</h3>
		</div>
	</div>
	<div class="clr"></div>
	
	<div class="trade-order-details">
		<h3>订单信息</h3>
		<ul>
			<li>
				<label>创建时间</label>
				<span>2018-6-29 11:58:26</span>
			</li>
			
			<li>
				<label>订单单号</label>
				<span>201806294234324</span>
			</li>
			
			<li>
				<label>状态</label>
				<span class="order-details-status">进行中</span>
			</li>
			
			<li>
				<label>类型</label>
				<span>购买</span>
			</li>
			
			<li>
				<label>币种</label>
				<span>VPay</span>
			</li>
			
			<li>
				<label>购买价格</label>
				<span>36.5435</span>
			</li>
			
			<li>
				<label>购买数量</label>
				<span>4</span>
			</li>
			
			<li>
				<label>实付金额</label>
				<span class="order-details-price">146.174</span>
			</li>
			
			<li>
				<label>付款方式</label>
				<span>线下支付</span>
			</li>
		</ul>
	</div>
	
	<div class="trade-order-toolbar">
		<ul>
			<li>
				<span class="active">标记为已付款</span>
			</li>
			<li>
				<span>取消交易</span>
			</li>
		</ul>
	</div>
	<div class="clr"></div>
</section>
</body>
</html>
