<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>众筹</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/funding.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">众筹项目中心</div>
	
	<div class="header-btn">
		<a href="CrowdFundingRecord.html">记录</a>
	</div>
</header>

<section class="container funding-container">
	<div class="funding-title">
		<ul>
			<li>
				<a href="CrowdFunding.html" class="funding-progress-1">
					<i></i>
					<span>预热中</span>
				</a>
			</li>
			
			<li>
				<a href="CrowdFunding-2.html" class="funding-progress-2">
					<i></i>
					<span>进行中</span>
				</a>
			</li>
			
			<li>
				<a href="CrowdFunding-3.html" class="funding-progress-3 active">
					<i></i>
					<span>已结束</span>
				</a>
			</li>
		</ul>
	</div>
    
    <!--<div class="no-content">
		<i></i>
		<p>暂无内容</p>
	</div>-->
    
    <!--已结束-->
    <div class="funding-list funding-finish">
        <div class="funding-list-info">
            <div class="funding-list-logo">
                <img src="../../Theme/images/icon_project.png">
            </div>
            
            <h1>Link数字资产</h1>
            
            <p>每个ID限购100枚 <b>释放比例100.00%</b></p>
            <h3>接受币种：<b>VPay</b></h3>
            
            <div class="funding-list-time">
                <span>2018-06-18</span>
            </div>
        </div>
        
        <div class="funding-list-details">
            <ul>
                <li>
                    <span>众筹规模</span>
                    <h3>4200万</h3>
                </li>
                
                <li>
                    <span>价格</span>
                    <h3>1Link=0.33VPay</h3>
                </li>
                
                <li>
                    <span>剩余时间</span>
                    <h3>已结束</h3>
                </li>
            </ul>
        </div>
        
        <div class="funding-list-bottom">
            <div class="funding-list-progress">
                <div class="progress-bar">
                    <span style="width: 83.34%;"></span>
                </div>
                <div class="progress-bar-tips">83.34%</div>
            </div>
            
            <div class="funding-list-btn">
                <button disabled>立即购买</button>
            </div>
        </div>
    </div>
    <div class="clr"></div>
    
    <div class="load-more">
	    <a href="">点击加载更多</a>
	</div>
	
	<!--<div class="load-no-more">
	    <span>没有更多了</span>
	</div>-->
</section>
</body>
</html>
