<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>众筹记录</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/funding.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">众筹记录</div>
</header>

<section class="container tab-container">
	<div class="tab-title">
        <div class="tab-item">
            <div class="lava"></div>
            
            <span class="active">购买记录</span>
            <span>释放记录</span>
        </div>
	</div>
    
    <div class="tab-content">
        <div>
            <!--<div class="no-content">
                <i></i>
                <p>暂无内容</p>
            </div>-->
            
            <div class="funding-record">
                <div class="funding-record-title">
                    <span class="fl">2018-6-29 11:01:21</span>
                    <span class="funding-record-status fr">23:45:45 结束</span>
                </div>
                
                <div class="funding-record-info">
                    <a href="CrowdFundingRecordDetails.html">
                        <div class="funding-record-photo">
                            <img src="../../Theme/images/tuiguang_logo.png">
                        </div>
        
                        <div class="funding-record-content">
                            <h3>Link数字资产</h3>
                            <p>1Link=0.33VPay</p>
                            <p>已购：100</p>
                        </div>
        
                        <div class="funding-record-number">
                            <h1>33.33</h1>
                            <span>实付</span>
                        </div>
                    </a>
                </div>
                
                <div class="funding-record-operate">
                    <ul>
                        <li>
                            <a href="CrowdFundingRecordDetails.html" class="active">详情</a>
                            <a href="">取消</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            
            <div class="funding-record">
                <div class="funding-record-title">
                    <span class="fl">2018-6-28 15:10:01</span>
                    <span class="funding-record-status fr">已结束</span>
                </div>
                
                <div class="funding-record-info">
                    <a href="CrowdFundingRecordDetails.html">
                        <div class="funding-record-photo">
                            <img src="../../Theme/images/logo.png">
                        </div>
        
                        <div class="funding-record-content">
                            <h3>VPay数字资产</h3>
                            <p>1VPay=31.4</p>
                            <p>已购：100</p>
                        </div>
        
                        <div class="funding-record-number">
                            <h1>3140.00</h1>
                            <span>实付</span>
                        </div>
                    </a>
                </div>
                
                <div class="funding-record-operate">
                    <ul>
                        <li>
                            <a href="CrowdFundingRecordDetails.html" class="active">详情</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            
            <div class="load-more">
                <a href="">点击加载更多</a>
            </div>
            
            <!--<div class="load-no-more">
                <span>没有更多了</span>
            </div>-->
        </div>
        
        <div>
            <div class="no-content">
                <i></i>
                <p>暂无内容</p>
            </div>
        </div>
    </div>
</section>

<script src="../../Theme/js/jquery-1.11.2.min.js"></script>
<script src="../../Theme/js/main.js"></script>
</body>
</html>
