<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0">
	
<title>V宝数字中心</title>

<link href="../../Theme/css/base.css" rel="stylesheet">
<link href="../../Theme/css/funding.css" rel="stylesheet">
</head>

<body>
<header class="header">
	<div class="header-return">
	    <a href="javascript:history.go(-1);"></a>
	</div>
	
	<div class="logo">V宝数字中心</div>
</header>

<section class="container vpay-container">
	<div class="vpay-account">
		<div class="vpay-account-balance">
            <span>昨日收益(余额)</span>
            
            <h1>10.0000</h1>
        </div>
        
        <div class="vpay-account-details">
            <ul>
                <li>
                    <a href="">
                        <span>V宝总资产</span>
                        <h3>1000.0000</h3>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <span>可用资产</span>
                        <h3>1000.0000</h3>
                    </a>
                </li>
            </ul>
        </div>
	</div>
    
    <div class="vpay-record">
        <div class="tab-title tab-title-s">
            <div class="tab-item">
                <div class="lava"></div>
                
                <span class="active">收益记录</span>
                <span>转出记录</span>
                <span>转入记录</span>
            </div>
        </div>
        
        <div class="tab-content vpay-list">
            <div>
                <!--<div class="no-content">
                    <i></i>
                    <p>暂无内容</p>
                </div>-->
                
				<div class="record-list">
					<div class="record-list-title">
						<span>时间</span>
						<span>当日收益</span>
						<span>累计收益</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-28</span>
						<span><b class="record-red">+9.88</b></span>
						<span>1233</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-26</span>
						<span><b class="record-red">+9.86</b></span>
						<span>1236</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-25</span>
						<span><b class="record-red">+9.23</b></span>
						<span>1343</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-24</span>
						<span><b class="record-red">+9.21</b></span>
						<span>1234</span>
					</div>

					<div class="load-more">
						<a href="">点击加载更多</a>
					</div>

					<!--<div class="load-no-more">
						<span>没有更多了</span>
					</div>-->
				</div>
            </div>
            
            <div>
				<div class="record-list">
					<div class="record-list-title">
						<span>时间</span>
						<span>转出金额</span>
						<span>转出对象</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-28</span>
						<span><b class="record-red">1000</b></span>
						<span>AAA</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-26</span>
						<span><b class="record-red">1000</b></span>
						<span>1236</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-25</span>
						<span><b class="record-red">500</b></span>
						<span>002</span>
					</div>

					<div class="record-list-content">
						<span>2018-8-24</span>
						<span><b class="record-red">500</b></span>
						<span>001</span>
					</div>

					<!--<div class="load-more">
						<a href="">点击加载更多</a>
					</div>-->

					<div class="load-no-more">
						<span>没有更多了</span>
					</div>
				</div>
            </div>
            
            <div>
                <div class="no-content">
                    <i></i>
                    <p>没有找到相关记录</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="vpay-toolbar">
    <a href="VPayTransferIn.html">转入</a>
    
    <a href="VPayTransferOut.html">转出</a> 
</div>

<script src="../../Theme/js/jquery-1.11.2.min.js"></script>
<script src="../../Theme/js/main.js"></script>
</body>
</html>
